{% if block.link %}
	<a href="{{ block.link['url'] }}" {{ block.link['target'] ? 'target="_blank"' }} class="image u-margin">
		<img src="{{ TimberImage(block.image) }}" alt="{{ TimberImage(block.image).alt }}">

		{% if block.caption %}
			<figcaption class="image__caption">
				{{ block.caption }}
			</figcaption>
		{% endif %}
	</a>
{% else %}
	<div class="image u-margin">
		<img src="{{ TimberImage(block.image) }}" alt="{{ TimberImage(block.image).alt }}">

		{% if block.caption %}
			<figcaption class="image__caption">
				{{ block.caption }}
			</figcaption>
		{% endif %}
	</div>
{% endif %}