<div class="image-accordion u-margin">
    <div class="image-accordion__container">
        <img src="{{ TimberImage(block.image)|resize(160, 160) }}" alt="{{ TimberImage(block.image).alt }}" class="image-accordion__image">

        <h3 class="subtitle image-accordion__title">{{ block.title }}</h3>
        <div class="text">{{ block.preview|wpautop }}</div>

        {% if block.read_more %}
            <button class="button image-accordion__read-more js-image-accordion__read-more">
                Read more
                <svg xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 12 7" class="image-accordion__arrow">
                    <polygon points="10.79 0 12 1.18 6 7 6 7 6 7 0 1.18 1.22 0 6 4.64 10.79 0"/>
                </svg>
            </button>

            <div class="text image-accordion__expandable js-image-accordion__expandable">{{ block.read_more }}</div>
        {% endif %}
    </div>
</div>