{% macro list_pages(parent, depth, leaves, style) %}
    {% import _self as this %}
    {% if depth > 0 and parent|visibleChildren|length > 0 %}
        {% if style == 'numbered' %}<ol>{% else %}<ul>{% endif %}
        {% for item in parent|visibleChildren %}
            <li>
                <a href="{{ fn('get_the_permalink', item) }}">
                    {{ fn('get_the_title', item) }}
                </a>
                {{ this.list_pages(item, depth - 1, leaves, style) }}
            </li>
        {% endfor %}
        {% if style == 'numbered' %}</ol>{% else %}</ul>{% endif %}
    {% endif %}
    {% if leaves and ( depth == 0 or parent|visibleChildren|length == 0 )  %}
        {% set sections = parent|getSections %}
        {% if sections|length > 0 %}
            {% if style == 'numbered' %}<ol>{% else %}<ul>{% endif %}
            {% for section in sections %}
                <li>
                    <a href="{{ section.link }}">
                        {{ section.text }}
                    </a>
                </li>
            {% endfor %}
            {% if style == 'numbered' %}</ol>{% else %}</ul>{% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}
{% import _self as this %}
<div class="text u-margin">
    {% if block.page.children %}
        {% set root = block.page %}
    {% else %}
        {% set root = post %}
    {% endif %}
    {{ this.list_pages(root, block.depth, block.leaves, block.style) }}
</div>
