{% extends 'base.twig' %}

{% set acronym_primary = "" %}
{% set name_primary = "" %}
{% for name in agency.names %}
    {% if name.name_valid_to == null %}
        {% for version in name.name_versions %}
            {% if version.name_is_primary == true %}
                {% set acronym_primary = version.acronym %}
                {% set name_primary = version.name %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% set breadcrumbs_title = acronym_primary %}
{% set sidebar_title = acronym_primary %}

{% block title %}
    {{ acronym_primary }} - {{ name_primary }} - {{ wp_title }}
{% endblock %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}

                {% if cta.agency.link %}
					<a href="{{ cta.agency.link }}" class="call-to-action">
						<h3 class="call-to-action__title">{{ cta.agency.title }}</h3>

						{% if cta.agency.description %}
							<p class="call-to-action__description">{{ cta.agency.description }}</p>
						{% endif %}

						<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
							<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
						</svg>
					</a>
				{% endif %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

                <h1 class="title u-margin-xs">
                    {{ acronym_primary }} - {{ name_primary }}
                </h1>

                {% for name in agency.names %}
                    {% if name.name_valid_to == null %}
                        {% for version in name.name_versions %}
                            {% if version.name_is_primary != true %}
                                <h3 class="subtitle u-margin-xs">{{ version.name }}</h3>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <ul class="l-label u-margin-s">
                    {% if agency.is_registered %}
                        <li class="l-label__item">
                           <span class="label" title="{{ acronym_primary }} complies substantially with the Standards and Guidelines for Quality Assurance in the European Higher Education Area (ESG)">Substantial compliance with the ESG</span>
                        </li>
                    {% else %}
                        <li class="l-label__item">
                            <span class="label" title="{{ acronym_primary }} was previously registered on EQAR, see notes below">
                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="list-icon list-icon__history">
                                <title>Archived entry - activity that was carried out in the past</title>
                                <g opacity="0.8">
                                    <path d="M10.2857 0.939514C6.02571 0.939514 2.57143 4.3938 2.57143 8.6538H0L3.33429 11.9881L3.39429 12.1081L6.85714 8.6538H4.28571C4.28571 5.33666 6.96857 2.6538 10.2857 2.6538C13.6029 2.6538 16.2857 5.33666 16.2857 8.6538C16.2857 11.9709 13.6029 14.6538 10.2857 14.6538C8.63143 14.6538 7.13143 13.9767 6.05143 12.8881L4.83429 14.1052C6.23143 15.5024 8.15143 16.3681 10.2857 16.3681C14.5457 16.3681 18 12.9138 18 8.6538C18 4.3938 14.5457 0.939514 10.2857 0.939514Z" fill="#18498F"/>
                                    <path d="M9.42871 5.22523V9.51094L13.0973 11.6881L13.7144 10.6509L10.7144 8.86808V5.22523H9.42871Z" fill="#18498F"/>
                                </g>
                            </svg>
                            Archived entry</span>
                        </li>
                    {% endif %}
                    {% if agency.report_count > 0 %}
                        <li class="l-label__item">
                            <a href="{{ function('get_permalink', 6) }}?query=&agency={{ agency.id }}" class="label label--qa-results" title="View the {{ agency.institution_count }} higher education institutions with quality assurance reports by {{ acronym_primary }}">View {{ agency.report_count }} reports on {{ agency.institution_count }} institutions</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="info-list u-margin-s">
                    {% if agency.is_registered %}
                    <li class="info-list__item">
                        <div class="info-list__term">Admission valid until</div>
                        <div class="info-list__definition">{{ agency.registration_valid_to|date("d/m/Y") }} (listed since {{ agency.registration_start|date("d/m/Y") }})</div>
                    </li>
                    {% endif %}
                    {% if not agency.is_registered %}
                        <li class="info-list__item">
                            <div class="info-list__term">Registration note</div>
                            <div class="info-list__definition">
                                {{ acronym_primary }} is currently not registered on EQAR, but was registered from {{ agency.registration_start|date("d/m/Y") }} until {{ agency.registration_valid_to|date("d/m/Y") }}.
                                {{ agency.registration_note }}
                            </div>
                        </li>
                    {% else %}
                        {% if agency.registration_note %}
                        <li class="info-list__item">
                            <div class="info-list__term">Registration note</div>
                            <div class="info-list__definition">{{ agency.registration_note }}</div>
                        </li>
                        {% endif %}
                    {% endif %}

                    {% if agency.website_link %}
                    <li class="info-list__item">
                        <div class="info-list__term">Website</div>
                        <div class="info-list__definition">
                            <a href="{{ agency.website_link }}" target="_blank" rel="external" class="info-list__link">
                                {{ agency.website_link }}
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="info-list__item">
                        <div class="info-list__term">Reports by the agency</div>
                        <div class="info-list__definition">
                            {% if agency.reports_link %}
                                <a href="{{ agency.reports_link }}" target="_blank" class="info-list__link">{{ agency.reports_link }}</a>
                            {% endif %}
                        </div>
                    </li>

                    {% if agency.names|length > 1 %}
                    <li class="info-list__item">
                        <div class="info-list__term">Previous names</div>
                        <div class="info-list__definition">
                            <div class="text u-margin-s">
                                <ul>
                                    {% for name in agency.names %}
                                        {% if name.name_valid_to != null %}
                                            <li>
                                                {% for version in name.name_versions %}
                                                    {% if version.name_is_primary == true %}
                                                        {{ version.name }}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if name.name_versions|length > 1 %}
                                                    {% set first = true %}
                                                    ({% for version in name.name_versions %}{% if version.name_is_primary != true %}{% if first != true %}, {% endif %}{{ version.name }}{% set first = false %}{% endif %}{% endfor %})
                                                {% endif %}
                                                until {{ name.name_valid_to|date("d/m/Y") }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endif %}

                    <li class="info-list__item">
                        <div class="info-list__term">EQAR registration decisions and reports on the agency</div>
                        <div class="info-list__definition">
                            <ul class="documents">
                                {% for decision in agency.decisions %}
                                    <li class="documents__item">
                                        <a href="{{ decision.decision_file }}" rel="external" target="_blank" class="documents__link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" class="documents__icon">
                                                <polygon points="5 5 1 5 5 1 5 5" fill="#ff8a00"/>
                                                <path d="M6,15a25.85,25.85,0,0,1,3-.8A13.79,13.79,0,0,1,7.23,12,25.86,25.86,0,0,1,6,15Z" fill="#ff8a00"/>
                                                <path d="M7.35,8H7.28a.33.33,0,0,0-.19.08c-.2.19,0,.54.27.92.25-.65.12-.93,0-1Z" fill="#ff8a00"/>
                                                <path d="M5.77,0V5.79H0V21H15V0Zm6.52,15.62a1.15,1.15,0,0,1-1,.52,2.88,2.88,0,0,1-1.82-1,20.69,20.69,0,0,0-3.82,1.23,12.51,12.51,0,0,1-1,1.85c-.44.63-.83.92-1.2.92A.69.69,0,0,1,3,19a1,1,0,0,1-.48-1c.08-.71,1-1.45,2.59-2.2a29.27,29.27,0,0,0,1.64-4.68c-.43-.94-.85-2.17-.55-2.89a.89.89,0,0,1,.54-.51.92.92,0,0,1,.29-.05A.68.68,0,0,1,7.61,8c.13.16.51.66-.07,3.1a13.92,13.92,0,0,0,2.2,3.29,8.29,8.29,0,0,1,1.45-.16c.68,0,1.09.16,1.26.49a.88.88,0,0,1-.17.94Z" fill="#ff8a00"/>
                                                <path d="M3,17.8s0,.1.14.2.33-.13.86-1c-.7.35-1,.64-1,.8Z" fill="#ff8a00"/>
                                                <path d="M10,15.06c.26.28.49.44.66.44s.17,0,.27-.22a.8.8,0,0,0,.07-.19.73.73,0,0,0-.44-.09,3,3,0,0,0-.56.06Z" fill="#ff8a00"/>
                                            </svg>
                                            {{ decision.decision_date|date('d/m/Y') }} {{ decision.decision_type }}
                                        </a>

                                        {% if decision.decision_file_extra != null %}
                                            <a href="{{ decision.decision_file_extra }}" rel="external" target="_blank" class="documents__link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" class="documents__icon">
                                                    <polygon points="5 5 1 5 5 1 5 5" fill="#ff8a00"/>
                                                    <path d="M6,15a25.85,25.85,0,0,1,3-.8A13.79,13.79,0,0,1,7.23,12,25.86,25.86,0,0,1,6,15Z" fill="#ff8a00"/>
                                                    <path d="M7.35,8H7.28a.33.33,0,0,0-.19.08c-.2.19,0,.54.27.92.25-.65.12-.93,0-1Z" fill="#ff8a00"/>
                                                    <path d="M5.77,0V5.79H0V21H15V0Zm6.52,15.62a1.15,1.15,0,0,1-1,.52,2.88,2.88,0,0,1-1.82-1,20.69,20.69,0,0,0-3.82,1.23,12.51,12.51,0,0,1-1,1.85c-.44.63-.83.92-1.2.92A.69.69,0,0,1,3,19a1,1,0,0,1-.48-1c.08-.71,1-1.45,2.59-2.2a29.27,29.27,0,0,0,1.64-4.68c-.43-.94-.85-2.17-.55-2.89a.89.89,0,0,1,.54-.51.92.92,0,0,1,.29-.05A.68.68,0,0,1,7.61,8c.13.16.51.66-.07,3.1a13.92,13.92,0,0,0,2.2,3.29,8.29,8.29,0,0,1,1.45-.16c.68,0,1.09.16,1.26.49a.88.88,0,0,1-.17.94Z" fill="#ff8a00"/>
                                                    <path d="M3,17.8s0,.1.14.2.33-.13.86-1c-.7.35-1,.64-1,.8Z" fill="#ff8a00"/>
                                                    <path d="M10,15.06c.26.28.49.44.66.44s.17,0,.27-.22a.8.8,0,0,0,.07-.19.73.73,0,0,0-.44-.09,3,3,0,0,0-.56.06Z" fill="#ff8a00"/>
                                                </svg>
                                                {{ decision.decision_date|date('d/m/Y') }} External Review Report
                                            </a>
                                        {% endif %}

                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </li>

                </ul>

                {% if agency.is_registered %}
                <hr class="divider u-margin-s">

                <h2 class="subtitle u-margin-xs">Information on the agency's work</h2>
                <div class="text u-margin-s">
                    {{ agency.description_note|striptags('<br><p>') }}

                    {% if agency.specialisation_note %}
                        <p>{{ agency.specialisation_note|striptags('<br><p>') }}</p>
                    {% endif %}
                </div>
                {% endif %}

                <hr class="divider u-margin-s">

                <h2 class="subtitle u-margin-s">Activities within the scope of ESG</h2>
                <div class="text u-margin-s">
                    {% if agency.activities %}
                        <ul class="{% if agency.activities|length > 3 %}activity-list {% endif %}l-label u-margin">
                            {% for activity in agency.activities %}
                                <li class="l-label__item activity-list__item">
                                    {% if activity.activity_valid_to %}
                                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="list-icon list-icon__history">
                                            <title>Archived entry - activity that was carried out in the past</title>
                                            <g opacity="0.8">
                                                <path d="M10.2857 0.939514C6.02571 0.939514 2.57143 4.3938 2.57143 8.6538H0L3.33429 11.9881L3.39429 12.1081L6.85714 8.6538H4.28571C4.28571 5.33666 6.96857 2.6538 10.2857 2.6538C13.6029 2.6538 16.2857 5.33666 16.2857 8.6538C16.2857 11.9709 13.6029 14.6538 10.2857 14.6538C8.63143 14.6538 7.13143 13.9767 6.05143 12.8881L4.83429 14.1052C6.23143 15.5024 8.15143 16.3681 10.2857 16.3681C14.5457 16.3681 18 12.9138 18 8.6538C18 4.3938 14.5457 0.939514 10.2857 0.939514Z" fill="#18498F"/>
                                                <path d="M9.42871 5.22523V9.51094L13.0973 11.6881L13.7144 10.6509L10.7144 8.86808V5.22523H9.42871Z" fill="#18498F"/>
                                            </g>
                                        </svg>
                                    {% endif %}
                                    {{ activity.activity }}<br>
                                    {% if activity.report_count > 0 %}
                                        <a href="{{ function('get_permalink', 6) }}?query=&esg_activity={{ activity.id }}" class="label label--qa-results" title="View the {{ activity.institution_count }} higher education institution(s) where {{ acronym_primary }} carried out {{ activity.activity }}">View {{ activity.report_count }} reports on {{ activity.institution_count }} institutions</a>
                                    {% endif %}
                                    {% if activity.reports_link %}
                                        <a href="{{ activity.reports_link }}" rel="external" target="_blank" class="label">Reports</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% if agency.countries %}
                <hr class="divider u-margin-s">

                <h2 class="subtitle u-margin-s">Higher education systems where {{ acronym_primary }} carried out external QA activities</h2>
                <div class="text u-margin-s">
                    <ul class="{% if agency.countries|length > 3 %}activity-list {% endif %}l-label u-margin">
                        {% for country in agency.countries %}
                            <li class="activity-list__item">
                                <p>
                                    <a class="agency" href="{{ function('get_permalink', 434) }}?id={{ country.country_url|split('/')[7] }}">
                                        {% if country.country_is_official %}
                                        <svg width="13px" height="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.75 15.58" class="list-icon list-icon__shield">
                                            <title>{{ acronym_primary }} operates as part of the obligatory external QA system in {{ country.name_english }}</title>
                                            <defs>
                                                <style>
                                                    .cls-1{fill:#18498f;fill-opacity:0.8;}
                                                    .cls-2{fill:#e6f6ff;fill-opacity:0.2;}
                                                </style>
                                            </defs>
                                            <path class="cls-1" d="M6.38,0,0,2.83V7.08a8.81,8.81,0,0,0,6.38,8.5,8.82,8.82,0,0,0,6.37-8.5V2.83Z"/>
                                            <path class="cls-2" d="M4.8,15,11,2.06l-.39-.17-.52-.24L3.93,14.49A7.61,7.61,0,0,0,4.8,15Z"/>
                                            <path class="cls-2" d="M11.75,2.39,5.54,15.32a7.46,7.46,0,0,0,.84.26l.16-.05L12.66,2.79Z"/>
                                            <path class="cls-2" d="M8.45.92,2.51,13.29a10.42,10.42,0,0,0,.77.72L9.36,1.33Z"/>
                                        </svg>
                                        {% endif %}
                                        <span class="name">{{ country.country }}</span>
                                        {% if country.report_count > 0 %}
                                            <a href="{{ function('get_permalink', 6) }}?query=&agency={{ agency.id }}&country={{ country.country_url|split('/')[7] }}" class="label label--qa-results">View {{ country.report_count }} reports on {{ country.institution_count }} institutions</a>
                                        {% endif %}
                                    </a>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <hr class="divider u-margin-s">

                <h3 class="subtitle u-margin-xs">Contact details</h3>
                <ul class="info-list u-margin-s">
                    {% if agency.address %}
                        <li class="info-list__item">
                            <div class="info-list__term">Address</div>
                            <div class="info-list__definition">
                                {{ agency.address }}
                                <a href="{{ function('get_permalink', 434) }}?id={{ agency.country.id }}" class="info-list__link">{{ agency.country.name_english }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if agency.is_registered and agency.contact_person %}
                        <li class="info-list__item">
                            <div class="info-list__term">Contact Person</div>
                            <div class="info-list__definition">
                                {{ agency.contact_person }}
                            </div>
                        </li>
                    {% endif %}
                    {% if agency.phone_numbers %}
                        <li class="info-list__item">
                            <div class="info-list__term">Phone</div>
                            <div class="info-list__definition">
                                {% for phone in agency.phone_numbers %}
                                    <a href="tel:{{ phone }}" class="info-list__link">
                                        {{ phone }}
                                    </a><br>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if agency.fax_numbers %}
                        <li class="info-list__item">
                            <div class="info-list__term">Fax</div>
                            <div class="info-list__definition">
                                <a href="tel:{{ agency.fax_numbers|last }}" class="info-list__link">
                                    {{ agency.fax_numbers|last }}
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if agency.emails and agency.is_registered %}
                        <li class="info-list__item">
                            <div class="info-list__term">Email</div>
                            <div class="info-list__definition">
                                {% for email in agency.emails %}
                                    <a href="mailto:{{ email }}" class="info-list__link">
                                        {{ email }}
                                    </a><br>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if agency.is_registered and agency.associations %}
                        <li class="info-list__item">
                            <div class="info-list__term">ENQA membership</div>
                            <div class="info-list__definition">
                                {% for membership in agency.associations %}
                                    {{ membership }} <br>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                </ul>

			</div>
		</div>
	</main>
{% endblock %}
