{% extends 'base.twig' %}

{% set breadcrumbs_title = country.name_english %}
{% set sidebar_title = country.name_english %}

{% block title %}
    {{ country.name_english }} - {{ wp_title }}
{% endblock %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">

                <div class="country-header u-margin-s">
                    <div class="country-header__title">
                        {% include 'views/snippets/breadcrumbs.twig' %}
                        <h1 class="title u-margin-xs">{{ country.name_english }}{% if country.iso_3166_alpha2 == 'XK' %}<a href="#xk-note"><sup>*</sup></a>{% endif %}</h1>
                        <ul class="l-label u-margin-s">
                            {% if country.ehea_is_member and country.iso_3166_alpha2 != 'XK' %}
                            <li class="l-label__item">
                               <span class="label" title="{{ country.name_english }} is a part of the European Higher Education Area (EHEA) built by the Bologna Process">European Higher Education Area - EHEA</span>
                            </li>
                            {% endif %}
                            {% if country.report_count > 0 %}
                            <li class="l-label__item">
                                <a href="{{ pages.qa_results }}?query=&amp;country={{ country.id }}" class="label label--qa-results" title="View the {{ country.institution_count }} higher education institution(s) in {{ country.name_english }} with quality assurance reports by EQAR-registered agencies">View {{ country.institution_count }} institutions with {{ country.report_count }} reports</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if country.ehea_is_member %}
                    <div class="country-header__map">
                        {% include 'views/snippets/map.twig' with { 'maptype': 'highlight', 'selected_country': country.iso_3166_alpha2, 'country_page': pages.country } %}
                    </div>
                    {% endif %}
                </div>

                  {% if country.ehea_is_member and country.iso_3166_alpha2 != 'XK' %}

                    <ul class="info-list u-margin-s">

                        <li class="info-list__item">
                            <div class="info-list__term">Membership in EQAR</div>
                            <div class="info-list__definition">
                                {% if country.eqar_governmental_member_start != null %}
                                    {{ country.name_english }} has been a Governmental Member of EQAR since {{ country.eqar_governmental_member_start|date('F Y') }}.
                                {% else %}
                                    {{ country.name_english }} is not a Governmental Member of EQAR.
                                {% endif %}
                                <p>Read more: <a class="info-list__link" href="{{ pages.members }}">all Governmental Members of EQAR</a></p>
			                </div>
                        </li>

                    {% if country.general_note %}
                        <li class="info-list__item">
                            <div class="info-list__term">General information on higher education</div>
                            <div class="info-list__definition">
                                {#<div class="text u-margin">#}{{ country.general_note }}{#</div>#}
                            </div>
                        </li>
                    {% endif %}

                        <li class="info-list__item">
                            <div class="info-list__term">National external quality assurance requirements</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    {% if country.qa_requirement_note %}
                                    <p>{{ country.qa_requirement_note }}</p>
                                    {% endif %}
                                    <ul>
                                        {% for requirement in country.qa_requirements %}
                                        <li class="info-list__item">
                                            <p><strong>{{ requirement.qa_requirement }}</strong><br />
                                            {{ requirement.qa_requirement_note }}</p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="info-list__item">
                            <div class="info-list__term">Cross-border quality assurance</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    {% if country.external_QAA_is_permitted is not empty %}
                                    <p class="u-margin-xs">
                                        {% if country.external_QAA_is_permitted == 'no' %}
                                        In {{ country.name_english }} higher education institutions may not choose among EQAR-registered agencies.
                                        {% elseif country.external_QAA_is_permitted == 'yes' %}
                                        In {{ country.name_english }} higher education institutions may choose a suitable EQAR-registered agency.
                                        {% elseif country.external_QAA_is_permitted == 'partially / with conditions' %}
                                        In {{ country.name_english }} under certain conditions higher education institutions may choose a suitable EQAR-registered agency.
                                        {% endif %}
                                    </p>
                                    {% endif %}
                                    {{ country.external_QAA_note }}
                                    <ul>
                                        {% if country.eligibility is not empty %}
                                            <li class="info-list__item">
                                                <p>
                                                    <strong>Eligibility requirements for foreign agencies:</strong>
                                                    {{ country.eligibility|striptags('p') }}
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if country.conditions is not empty %}
                                            <li class="info-list__item">
                                                <p>
                                                    <strong>Conditions for the agencies’ work (e.g. criteria to be used):</strong>
                                                    {{ country.conditions|striptags('p') }}
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if country.recognition is not empty %}
                                            <li class="info-list__item">
                                                <p>
                                                    <strong>Recognition of reviews carried out by foreign agencies:</strong>
                                                    {{ country.recognition|striptags('p') }}
                                                </p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <p>Read more: <a href="{{ pages.cross_border }}">countries where higher education institutions may choose a suitable EQAR-registered agency</a></p>
                                </div>
                            </div>
                        </li> {# cross-border QA #}

                        <li class="info-list__item">
                            <div class="info-list__term">European Approach for Quality Assurance of Joint Programmes</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                {% if country.european_approach_is_permitted is not empty %}
                                    <p class="u-margin-xs">
                                    {% if country.european_approach_is_permitted == 'no' %}
                                        In {{ country.name_english }} the European Approach is not available to higher education institutions.
                                    {% elseif country.european_approach_is_permitted == 'yes' %}
                                        In {{ country.name_english }} the European Approach is available to higher education institutions.
                                    {% elseif country.european_approach_is_permitted == 'partially / with conditions' %}
                                        In {{ country.name_english }} the European Approach is available to higher education institutions under certain conditions.
                                    {% endif %}
                                    </p>
                                {% endif %}
                                {{ country.european_approach_note }}
                                <p>Read more: <a href="{{ pages.european_approach }}">countries where the European Approach is available to higher education institutions</a></p>
                                </div>
                            </div>
                        </li> {# european approach #}

                        {% if country.qaa_regulations is not empty %}
                        <li class="info-list__item">
                            <div class="info-list__term">Further information</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    <ul>
                                    {% for regulation in country.qaa_regulations %}
                                        <li>
                                            <p>
                                            {% if regulation.regulation_url %}
                                                <a href="{{ regulation.regulation_url }}">
                                                {% if regulation.regulation %}
                                                    {{ regulation.regulation }}
                                                {% else %}
                                                    {{ regulation.regulation_url }}
                                                {% endif %}
                                                </a>
                                            {% else %}
                                                {{ regulation.regulation }}
                                            {% endif %}
                                            </p>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}

                    </ul>

                  {% endif %} {# ehea_is_member #}

                    <hr class="divider u-margin-s">
                    <h3 class="subtitle u-margin-s">Registered agencies operating in {{ country.name_english }}</h3>
                    <div class="text u-margin">
                        {% if country.agencies.byFocusCountry is not empty %}
                            <ul>
                                {% for agency in country.agencies.byFocusCountry %}
                                    <li>
                                        <p>
                                            <a href="{{ pages.agency }}?id={{ agency.id }}" class="agency">
                                                {% if agency.is_registered %}
                                                    {% if agency.country_is_official %}
                                                    <svg width="13px" height="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.75 15.58" class="list-icon list-icon__shield">
                                                        <title>Agency operates as part of the obligatory external QA system</title>
                                                        <defs>
                                                            <style>
                                                                .cls-1{fill:#18498f;fill-opacity:0.8;}
                                                                .cls-2{fill:#e6f6ff;fill-opacity:0.2;}
                                                            </style>
                                                        </defs>
                                                        <path class="cls-1" d="M6.38,0,0,2.83V7.08a8.81,8.81,0,0,0,6.38,8.5,8.82,8.82,0,0,0,6.37-8.5V2.83Z"/>
                                                        <path class="cls-2" d="M4.8,15,11,2.06l-.39-.17-.52-.24L3.93,14.49A7.61,7.61,0,0,0,4.8,15Z"/>
                                                        <path class="cls-2" d="M11.75,2.39,5.54,15.32a7.46,7.46,0,0,0,.84.26l.16-.05L12.66,2.79Z"/>
                                                        <path class="cls-2" d="M8.45.92,2.51,13.29a10.42,10.42,0,0,0,.77.72L9.36,1.33Z"/>
                                                    </svg>
                                                    </span>
                                                    {% endif %}
                                                {% else %}
                                                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="list-icon list-icon__history">
                                                        <title>Archived entry - agency was registered in the past</title>
                                                        <g opacity="0.8">
                                                            <path d="M10.2857 0.939514C6.02571 0.939514 2.57143 4.3938 2.57143 8.6538H0L3.33429 11.9881L3.39429 12.1081L6.85714 8.6538H4.28571C4.28571 5.33666 6.96857 2.6538 10.2857 2.6538C13.6029 2.6538 16.2857 5.33666 16.2857 8.6538C16.2857 11.9709 13.6029 14.6538 10.2857 14.6538C8.63143 14.6538 7.13143 13.9767 6.05143 12.8881L4.83429 14.1052C6.23143 15.5024 8.15143 16.3681 10.2857 16.3681C14.5457 16.3681 18 12.9138 18 8.6538C18 4.3938 14.5457 0.939514 10.2857 0.939514Z" fill="#18498F"/>
                                                            <path d="M9.42871 5.22523V9.51094L13.0973 11.6881L13.7144 10.6509L10.7144 8.86808V5.22523H9.42871Z" fill="#18498F"/>
                                                        </g>
                                                    </svg>
                                                {% endif %}
                                                <span class="name"><strong>{{ agency.acronym_primary }}</strong> - {{ agency.name_primary }}</span>
                                                <span class="since" title="{% if agency.is_registered %}Registered since {{ agency.registration_start|date('d/m/Y') }}{% else %}Registered {{ agency.registration_start|date('d/m/Y') }} - {{ agency.registration_valid_to|date('d/m/Y') }}{% endif %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20">
                                                        <polygon points="9.48 0 0 20 2.52 20 12 0 9.48 0" fill="#033163"/>
                                                        <polygon points="15.48 0 6 20 8.52 20 18 0 15.48 0" fill="#033163" opacity="0.75"/>
                                                        <polygon points="21.48 0 12 20 14.52 20 24 0 21.48 0" fill="#033163" opacity="0.5"/>
                                                        <polygon points="27.48 0 18 20 20.52 20 30 0 27.48 0" fill="#033163" opacity="0.25"/>
                                                    </svg>
                                                    {% if agency.is_registered %}
                                                       {{ agency.registration_start|date('Y') }} -
                                                    {% else %}
                                                       {{ agency.registration_start|date('Y') }} - {{ agency.registration_valid_to|date('Y') }}
                                                    {% endif %}
                                                </span>
                                            </a>
                                            {% if agency.report_count > 0 %}
                                                <a href="{{ pages.qa_results }}?query=&agency={{ agency.id }}&country={{ country.id }}" class="label label--qa-results" title="View the {{ agency.institution_count }} higher education institution(s) in {{ country.name_english }} with quality assurance reports by {{ agency.acronym_primary }}">View {{ agency.institution_count }} institutions with {{ agency.report_count }} reports</a>
                                            {% endif %}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No registered agencies operating in {{ country.name_english }}.</p>
                        {% endif %}
                    </div>

                    {% if country.iso_3166_alpha2 == 'XK' %}
                    <hr class="divider u-margin-s">
                    <div class="text u-margin" id="xk-note">
                        <p class="footnote"><sup>*</sup>&nbsp;{{ country.general_note|striptags('p') }}</p>
                    </div>
                    {% endif %}

            </div>
		</div>
	</main>
{% endblock %}
