{% extends 'base.twig' %}

{% block title %}
    {{ country.name_english }} - {{ wp_title }}
{% endblock %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}

                {% if cta.agency.link %}
					<a href="{{ cta.agency.link }}" class="call-to-action">
						<h3 class="call-to-action__title">{{ cta.agency.title }}</h3>

						{% if cta.agency.description %}
							<p class="call-to-action__description">{{ cta.agency.description }}</p>
						{% endif %}

						<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
							<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
						</svg>
					</a>
				{% endif %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

                {% if not country %}
                    <h1 class="title u-margin-xs">Country not found.</h1>
                {% else %}

                    <h1 class="title u-margin-xs">{{ country.name_english }}</h1>

                    <ul class="l-label u-margin-s">
                        {% if country.report_count > 0 %}
                        <li class="l-label__item">
                            <a href="{{ function('get_permalink', 6) }}?query=&country={{ country.id }}" class="label label--qa-results">View {{ country.institution_count }} institutions with {{ country.report_count }} reports</a>
                        </li>
                        {% endif %}
                    </ul>

                  {% if country.ehea_is_member %}

                    <ul class="info-list u-margin-s">

                        <li class="info-list__item">
                            <div class="info-list__term">Membership in EQAR</div>
                            <div class="info-list__definition">
                                {% if country.eqar_governmental_member_start != null %}
                                    {{ country.name_english }} has been a Governmental Member of EQAR since {{ country.eqar_governmental_member_start|date('F Y') }}.
                                {% else %}
                                    {{ country.name_english }} is not a Governmental Member of EQAR.
                                {% endif %}
			                </div>
                        </li>

                    {% if country.general_note %}
                        <li class="info-list__item">
                            <div class="info-list__term">General information on higher education</div>
                            <div class="info-list__definition">
                                {#<div class="text u-margin">#}{{ country.general_note }}{#</div>#}
                            </div>
                        </li>
                    {% endif %}

                        <li class="info-list__item">
                            <div class="info-list__term">National external quality assurance requirements</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    {% if country.qa_requirement_note %}
                                    <p>{{ country.qa_requirement_note }}</p>
                                    {% endif %}
                                    <ul>
                                        {% for requirement in country.qa_requirements %}
                                        <li class="info-list__item">
                                            <p><strong>{{ requirement.qa_requirement }}</strong><br />
                                            {{ requirement.qa_requirement_note }}</p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="info-list__item">
                            <div class="info-list__term">Cross-border quality assurance</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                {% if country.external_QAA_is_permitted is not empty %}
                                    <p class="u-margin-xs">
                                        {% if country.external_QAA_is_permitted == 'no' %}
                                        In {{ country.name_english }} higher education institutions may not choose among EQAR-registered agencies.
                                        {% elseif country.external_QAA_is_permitted == 'yes' %}
                                        In {{ country.name_english }} higher education institutions may choose a suitable EQAR-registered agency.
                                        {% elseif country.external_QAA_is_permitted == 'partially / with conditions' %}
                                        In {{ country.name_english }} under certain conditions higher education institutions may choose a suitable EQAR-registered agency.
                                        {% endif %}
                                        {{ country.external_QAA_note }}
                                    </p>
                                {% endif %}
                                    <ul>
                                        {% if country.eligibility is not empty %}
                                            <li class="info-list__item">
                                                <p>
                                                    <strong>Eligibility requirements for foreign agencies:</strong>
                                                    {{ country.eligibility|striptags('p') }}
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if country.conditions is not empty %}
                                            <li class="info-list__item">
                                                <p>
                                                    <strong>Conditions for the agencies’ work (e.g. criteria to be used):</strong>
                                                    {{ country.conditions|striptags('p') }}
                                                </p>
                                            </li>
                                        {% endif %}
                                        {% if country.recognition is not empty %}
                                            <li class="info-list__item">
                                                <p>
                                                    <strong>Recognition of reviews carried out by foreign agencies:</strong>
                                                    {{ country.recognition|striptags('p') }}
                                                </p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li> {# cross-border QA #}

                        <li class="info-list__item">
                            <div class="info-list__term">European Approach for Quality Assurance of Joint Programmes</div>
                            <div class="info-list__definition">
                                {# <div class="text u-margin"> #}
                                {% if country.european_approach_is_permitted is not empty %}
                                    {% if country.european_approach_is_permitted == 'no' %}
                                        In {{ country.name_english }} the European Approach is not available to higher education institutions.
                                    {% elseif country.european_approach_is_permitted == 'yes' %}
                                        In {{ country.name_english }} the European Approach is available to higher education institutions.
                                    {% elseif country.european_approach_is_permitted == 'partially / with conditions' %}
                                        In {{ country.name_english }} the European Approach is available to higher education institutions under certain conditions.
                                    {% endif %}
                                {% endif %}
                                {{ country.european_approach_note }}
                                {# </div> #}
                            </div>
                        </li> {# european approach #}

                        {% if country.qaa_regulations is not empty %}
                        <li class="info-list__item">
                            <div class="info-list__term">Further information</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    <ul>
                                    {% for regulation in country.qaa_regulations %}
                                        <li>
                                            <p>
                                            {% if regulation.regulation_url %}
                                                <a href="{{ regulation.regulation_url }}">
                                                {% if regulation.regulation %}
                                                    {{ regulation.regulation }}
                                                {% else %}
                                                    {{ regulation.regulation_url }}
                                                {% endif %}
                                                </a>
                                            {% else %}
                                                {{ regulation.regulation }}
                                            {% endif %}
                                            </p>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}

                    </ul>

                  {% endif %} {# ehea_is_member #}

                    {#
                    <!-- <hr class="divider u-margin">
                    <h3 class="subtitle u-margin-s">Registered agencies based in {{ country.name_english }}</h3>
                    <div class="text u-margin">
                        {% if country.agencies.byCountry is not empty %}
                            <ul>
                                {% for agency in country.agencies.byCountry %}
                                    <li>
                                        <p>
                                            <a href="{{ function('get_permalink', 223) }}/?id={{ agency.id }}"><strong>{{ agency.acronym_primary }}</strong> - {{ agency.name_primary }}</a>
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No agencies found in {{ country.name_english }}</p>
                        {% endif %}
                    </div> -->
                    #}

                    <hr class="divider u-margin-s">
                    <h3 class="subtitle u-margin-s">Registered agencies operating in {{ country.name_english }}</h3>
                    <div class="text u-margin">
                        {% if country.agencies.byFocusCountry is not empty %}
                            <ul>
                                {% for agency in country.agencies.byFocusCountry %}
                                    <li>
                                        <p>
                                            <a href="{{ function('get_permalink', 223) }}?id={{ agency.id }}" class="agency">
                                                {% if agency.country_is_official %}<!-- Display a svg file -->{% endif %}
                                                <span class="name"><strong>{{ agency.acronym_primary }}</strong> - {{ agency.name_primary }}</span>
                                                <span class="since" title="Listed since {{ agency.registration_start|date('Y') }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20">
                                                        <polygon points="9.48 0 0 20 2.52 20 12 0 9.48 0" fill="#033163"/>
                                                        <polygon points="15.48 0 6 20 8.52 20 18 0 15.48 0" fill="#033163" opacity="0.75"/>
                                                        <polygon points="21.48 0 12 20 14.52 20 24 0 21.48 0" fill="#033163" opacity="0.5"/>
                                                        <polygon points="27.48 0 18 20 20.52 20 30 0 27.48 0" fill="#033163" opacity="0.25"/>
                                                    </svg>
                                                    {{ agency.registration_start|date('Y') }} - {{ agency.registration_valid_to|date('Y') }}
                                                </span>
                                            </a>
                                            {% if agency.report_count > 0 %}
                                                <a href="{{ function('get_permalink', 6) }}?query=&agency={{ agency.id }}&country={{ country.id }}" class="label label--qa-results">View {{ agency.institution_count }} institutions</a>
                                            {% endif %}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No registered agencies operating in {{ country.name_english }}.</p>
                        {% endif %}
                    </div>

                {% endif %} {# if not country #}

            </div>
		</div>
	</main>
{% endblock %}
