{% extends 'base.twig' %}

{% block content %}
	<main class="{{ post.get_field('map') == 'off' ? '' : 'background' }} u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}

				{% if post.get_field('cta_link') %}
					<a href="{{ post.get_field('cta_link') }}" class="call-to-action">
						<h3 class="call-to-action__title">{{ post.get_field('cta_title') }}</h3>

						{% if post.get_field('cta_description') %}
							<p class="call-to-action__description">{{ post.get_field('cta_description') }}</p>
						{% endif %}

						<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
							<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
						</svg>
					</a>
				{% endif %}
			</div>

			<div class="l-two-column__content">

                {% include 'views/snippets/breadcrumbs.twig' %}

                <header class="u-margin u-space-between">
                    <h1 class="title">{{ post.title }}</h1>

                    {% if post.get_field('newsletters') %}
                    <a href="{{ post.get_field('newsletters') }}" class="read-more">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="read-more__arrow">
                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                        </svg>
                        Newsletters
                    </a>
                    {% endif %}
                </header>

                {% for block in post.get_field('blocks') %}
                    {% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
                {% endfor %}

                <div class="l-article {{ pagination.pages ? 'u-margin' }}">
                    {% for post in posts %}
                    <div class="l-article__item">
                        <a href="{{ post.link }}" class="article" style="background-image: url('{{ TimberImage(post.thumbnail )}}');">
                            <span class="article__date">{{ post.date }}</span>
                            <span class="article__category">{{ post.category }}</span>
                            <h2 class="article__title">{{ post.title }}</h2>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                {% if pagination.pages %}
                <ul class="pagination u-margin">
                    {% for page in pagination.pages %}
                        <li class="pagination__item">
                            {% if page.link %}
                                <a href="{{ page.link }}" class="pagination__link {{ page.class }}">{{ page.title }}</a>
                            {% else %}
                                <span class="pagination__link {{ page.class }}">{{ page.title }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

        </div>
    </main>
{% endblock %}
