{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}

                {{ include('snippets/js-search-facets.twig', { title: "Filter decisions", facets: [
                    { report_field: 'decision_type',    label: 'Type' },
                    { report_field: 'year',             label: 'Year' },
                 ] } ) }}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

                {% for block in post.get_field('blocks') %}
                    {% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
                {% endfor %}

                {% set year = 1970 %}
                <div class="table"><table class="facet-search-container">
                    <thead>
                        <tr>
                            <th>Agency</th>
                            <th>Date</th>
                            <th>Decision</th>
                            <th>Annex</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for decision in decisions %}
                        {% set year = decision.decision_date|date('Y') %}
                        <tr class="facet-search__item"
                            data-decision_type="{{ decision.decision_type }}"
                            data-agency_acronym="{{ decision.agency_acronym }}"
                            data-year="{{ year }}">
                            <td>
                                {% if agenciesByName[decision.agency_acronym] %}
                                    <a href="{{ pages.agency|addParameters({ 'id': agenciesByName[decision.agency_acronym].id }) }}">{{ decision.agency_acronym }}</a>
                                {% else %}
                                    {{ decision.agency_acronym }}
                                {% endif %}
                            </td>
                            <td>
                                {{ decision.decision_date|date('d/m/Y') }}
                            </td>
                            <td>
                                <a href="{{ decision.decision_file }}">{{ decision.decision_type }}</a>
                            </td>
                            <td>
                                {% if decision.decision_file_extra %}
                                    <a href="{{ decision.decision_file_extra }}">external review report</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table></div>
			</div>
		</div>
	</main>
{% endblock %}
