{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
        <div class="u-container">
            {% if post.get_field('top_tasks') %}
                <div class="top-tasks u-margin-l u-margin-top-xl">
                    {% for item in post.get_field('top_tasks') %}
                        <div class="top-tasks__column">
                            <h3 class="subtitle top-tasks__title">{{ item.title }}</h3>

                            <ul class="top-tasks__links">
                                {% for item in item.links %}
                                    <li class="top-tasks__item">
                                        <a href="{{ fn('get_the_permalink', item.link) }}" class="top-tasks__link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="top-tasks__arrow">
                                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                                            </svg>

                                            {% if item.title %}
                                                {{ item.title }}
                                            {% else %}
                                                {{ fn('get_the_title', item.link) }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

			<div class="introduction u-margin-l">
				{% if post.get_field('introduction_title') %}
					<h1 class="title title--hero u-margin-xs">{{ post.get_field('introduction_title') }}</h1>
				{% endif %}

				{% if post.get_field('introduction_opening') %}
					<div class="text text--introduction u-margin">
						{{ post.get_field('introduction_opening') }}
					</div>
				{% endif %}

				{% if post.get_field('introduction_columns') %}
					<hr class="divider u-margin">

					<div class="l-text-columns">
						{% for item in post.get_field('introduction_columns') %}
							<div class="l-text-columns__column">
								{% if item.title %}
									<h2 class="subtitle u-margin-xs">{{ item.title }}</h2>
								{% endif %}

								{% if item.text %}
									<div class="text">{{ item.text }}</div>
								{% endif %}

								{% if item.button %}
									<a href="{{ item.button['url'] }}" {{ item.button['target'] ? 'target="_blank"' }} class="read-more introduction__read-more">
										<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="read-more__arrow">
											<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
										</svg>
										
										{{ item.button['title'] }}
									</a>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			{% include 'views/snippets/search.twig' with { 'class' : 'qa-search--full-width u-margin-l' } %}

			<header class="u-margin u-space-between">
                <h1 class="title">Latest news</h1>

                <a href="{{ fn('get_the_permalink', page_for_posts) }}" class="read-more">
					<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="read-more__arrow">
						<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
					</svg>
					See all
				</a>
			</header>
			
			<div class="u-margin-l">
				<div class="l-article">
					{% for post in posts %}
						<div class="l-article__item">
							<a href="{{ post.link }}" class="article" style="background-image: url('{{ TimberImage(post.thumbnail )}}');">
								<span class="article__date">{{ post.date }}</span>
								<span class="article__category">{{ post.category }}</span>
								<h2 class="article__title">{{ post.title }}</h2>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>

			{% include 'views/snippets/newsletter.twig' %}
		</div>
	</main>

	{% if post.get_field('partner_logos') %}
		<div class="logos u-padding">
			<ul class="logos__list u-container">
				{% for item in post.get_field('partner_logos') %}
					<li class="logos__item">
						{% if item.url %}
							<a href="{{ item.url }}" class="logos__link">
								<img src="{{ TimberImage(item.logo) }}" alt="{{ TimberImage(item.logo).alt }}" class="logos__image" target="_blank">
							</a>
						{% else %}
							<img src="{{ TimberImage(item.logo) }}" alt="{{ TimberImage(item.logo).alt }}" class="logos__image">
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}
