{% extends 'base.twig' %}

{% block title %}
    {% for name in institution.names %}
        {% if name.name_valid_to == null %}
            {% if name.name_english %}
                {{ name.name_english }}
            {% else %}
                {{ name.name_official }}
            {% endif %}
        {% endif %}
    {% endfor %}
     - {{ wp_title }}
{% endblock %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">

			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}

                {% if cta.agency.link %}
					<a href="{{ cta.agency.link }}" class="call-to-action">
						<h3 class="call-to-action__title">{{ cta.agency.title }}</h3>

						{% if cta.agency.description %}
							<p class="call-to-action__description">{{ cta.agency.description }}</p>
						{% endif %}

						<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
							<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
						</svg>
					</a>
				{% endif %}
			</div>


			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

                {% for name in institution.names %}
                    {% if name.name_valid_to == null %}
                        {% if name.name_english %}
                            <h1 class="title u-margin-xs">{{ name.name_english }}</h1>
                            <h3 class="subtitle">{{ name.name_official }}</h3>
                        {% else %}
                            <h1 class="title u-margin-xs">{{ name.name_official }}</h1>
                        {% endif %}
                        {% if name.name_versions %}
                            {% for version in name.name_versions %}
                                <h3 class="subtitle">{{ version.name }}</h3>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <h3 class="subtitle u-margin-s"></h3>
                <h3 class="subtitle u-margin-xs">Basic information</h3>

                <ul class="info-list u-margin-s">
                    <li class="info-list__item">
                        <div class="info-list__term">Location(s)</div>
                        <div class="info-list__definition">
                            <div class="text u-margin">
                                {% if institution.countries %}
                                    {% for location in institution.countries %}
                                        {% if location.city %}
                                            {{ location.city }},
                                        {% endif %}
                                        <a href="{{ function('get_permalink', 434) }}?id={{ location.country.id }}">{{ location.country.name_english }}</a><br />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="info-list__item">
                        <div class="info-list__term">Website</div>
                        <div class="info-list__definition">
                            {% if institution.website_link %}
                                <a href="{{ institution.website_link }}" target="_blank" rel="external" class="info-list__link">{{ institution.website_link }}</a>
                            {% endif %}
                        </div>
                    </li>

                    {% if institution.founding_date %}
                        <li class="info-list__item">
                            <div class="info-list__term">Founding year</div>
                            <div class="info-list__definition">{{ institution.founding_date|date('Y') }}</div>
                        </li>
                    {% endif %}
                    {% if institution.closure_date %}
                        <li class="info-list__item">
                            <div class="info-list__term">Closing year</div>
                            <div class="info-list__definition">{{ institution.closure_date|date('Y') }}</div>
                        </li>
                    {% endif %}

                    <li class="info-list__item">
                        <div class="info-list__term">QF-EHEA levels</div>
                        <div class="info-list__definition">
                            {% if institution.qf_ehea_levels|length %}
                                {% for level in institution.qf_ehea_levels|reverse %}
                                    {{ level.qf_ehea_level }}{% if loop.length != loop.index %}, {% endif %}
                                {% endfor %}
                            {% else %}-{% endif %}
                        </div>
                    </li>

                    {% if institution.eter %}
                        <li class="info-list__item">
                            <div class="info-list__term">ETER/OrgReg ID</div>
                            <div class="info-list__definition">{{ institution.eter[:6] }}</div>
                        </li>
                    {% endif %}

                    {% if institution.hierarchical_relationships.part_of %}
                        <li class="info-list__item">
                            <div class="info-list__term">Part of</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    <ul>
                                        {% for relation in institution.hierarchical_relationships.part_of %}
                                            <li>
                                                <a href="{{ function('get_permalink', 418) }}?id={{ relation.id }}">{{ relation.name_primary }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if institution.hierarchical_relationships.includes %}
                        <li class="info-list__item">
                            <div class="info-list__term">Subunits</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    <ul>
                                        {% for includes in institution.hierarchical_relationships.includes %}
                                            <li>
                                                <a href="{{ function('get_permalink', 418) }}?id={{ includes.id }}">{{ includes.name_primary }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}


                    {% set prevNames = {} %}
                    {% for name in institution.names %}
                        {% if name.name_valid_to != null %}
                            {% set prevNames = prevNames|merge([name]) %}
                        {% endif %}
                    {% endfor %}

                    {% if prevNames %}
                        <li class="info-list__item">
                            <div class="info-list__term">Previous names</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    <ul>
                                        {% for name in prevNames %}
                                            <li>
                                                {% if name.name_english %}
                                                    {{ name.name_english }}
                                                {% else %}
                                                    {{ name.name_official }}
                                                {% endif %}
                                                {% if name.name_english or name.name_versions %}
                                                    ({% if name.name_english %}{{ name.name_official }}{% set first = false %}{% else %}{% set first = true %}{% endif %}{% for version in name.name_versions %}{% if first != true %}, {% endif %}{{ version.name }}{% set first = false %}{% endfor %})
                                                {% endif %}
                                                until {{ name.name_valid_to|date('d/m/Y') }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    {% if institution.historical_relationships %}
                        <li class="info-list__item">
                            <div class="info-list__term">Historical relationships</div>
                            <div class="info-list__definition">
                                <div class="text u-margin">
                                    <ul>
                                        {% for historical_relationship in institution.historical_relationships|sort %}
                                            <li>
                                                {{ historical_relationship.relationship_type }} <a href="{{ function('get_permalink', 418) }}?id={{ historical_relationship.institution.id }}">{{ historical_relationship.institution.name_primary }}</a> on {{ historical_relationship.relationship_date|date('d/m/Y') }}<br>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                </ul>

                <hr class="divider u-margin-s">
                <div class="text-fields u-margin-s">
                	<h2 class="subtitle text-fields__subtitle">National External Quality Assurance Requirements</h2>
                	<div class="text text-fields__text">
                        {% if institution.countries|length > 1 %}
                            <ul>
                                {% for country in institution.countries %}
                                    <li>
                                        {{ country.country.name_english }}<br>
                                        <ul>
                                            {% for requirement in country.country.qa_requirements %}
                                                <li>
                                                    <strong>{{ requirement.qa_requirement }}</strong><br>
                                                    {{ requirement.qa_requirement_note }}
                                                </li>
                                            {% endfor %}
                                            <li>
                                                <a href="{{ function('get_permalink', 434) }}?id={{ country.country.id }}">
                                                    Further information on external quality assurance in {{ country.country.name_english }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% for country in institution.countries %}
                                <ul>
                                    {% for requirement in country.country.qa_requirements %}
                                        <li>
                                            <strong>{{ requirement.qa_requirement }}</strong><br>
                                            {{ requirement.qa_requirement_note }}
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.country.id }}">
                                            Further information on external quality assurance in {{ country.country.name_english }}
                                        </a>
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <hr class="divider u-margin-s">
                <h2 class="subtitle text-fields__subtitle u-margin-s">External Quality Assurance Reports and Decisions</h2>

                <h3 class="subtitle text-fields__subtitle reports-institutional-title">Institutional level <sup class="subtitle-superscript">({{ institution.reports|length }})</sup></h3>
                <div class="accordion u-margin-s reports-institutional-container">

                    {% if institution.reports|hasHistorical %}
                        <label for="show-invalid-reports" class="report-switch">
                            <input type="checkbox" name="show-invalid-reports" id="show-invalid-reports" value="" checked="checked" class="js-report-witch js-report-witch-institutional">
                            show historic reports <span>({{ institution.reports|countHistorical }})</span>
                        </label>
                    {% endif %}

                    {% if institution.reports %}
                        {% for result in institution.reports %}
                            <div class="accordion__item{% if result.report_valid == false %} report-invalid{% else %} report-valid{% endif %} item-visible">
                                <div class="accordion__definition js-accordion__definition">
                                        {% if result.report_valid == false %}
                                            <svg width="20px" height="20px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="accordion__clock">
                                                <title>Historic report</title>
                                                <path d="M12,0 C7.03,0 3,4.03 3,9 L0,9 L3.89,12.89 L3.96,13.03 L8,9 L5,9 C5,5.13 8.13,2 12,2 C15.87,2 19,5.13 19,9 C19,12.87 15.87,16 12,16 C10.07,16 8.32,15.21 7.06,13.94 L5.64,15.36 C7.27,16.99 9.51,18 12,18 C16.97,18 21,13.97 21,9 C21,4.03 16.97,0 12,0 Z" id="Path"></path>
                                                <polygon id="Path" points="11 5 11 10 15.28 12.54 16 11.33 12.5 9.25 12.5 5"></polygon>
                                            </svg>
                                        {% endif %}

                                    <div class="accordion__definition-icons">

                                        {% if result.status == "part of obligatory EQA system" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="13px" height="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.75 15.58" class="accordion-icon accordion-icon__shield">
                                                <title>Part of the obligatory external QA system</title>
                                                <defs>
                                                    <style>
                                                        .cls-1{fill:#18498f;}
                                                        .cls-2{fill:#e6f6ff;fill-opacity:0.25;}
                                                    </style>
                                                </defs>
                                                <path class="cls-1" d="M6.38,0,0,2.83V7.08a8.81,8.81,0,0,0,6.38,8.5,8.82,8.82,0,0,0,6.37-8.5V2.83Z"/>
                                                <path class="cls-2" d="M4.8,15,11,2.06l-.39-.17-.52-.24L3.93,14.49A7.61,7.61,0,0,0,4.8,15Z"/>
                                                <path class="cls-2" d="M11.75,2.39,5.54,15.32a7.46,7.46,0,0,0,.84.26l.16-.05L12.66,2.79Z"/>
                                                <path class="cls-2" d="M8.45.92,2.51,13.29a10.42,10.42,0,0,0,.77.72L9.36,1.33Z"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                        {% if result.decision == "negative" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-icon accordion-icon__gavel">
                                                <title>Decision: {{ result.decision }}</title>
                                                <path d="M0 16.0838H8.48656V17.4982H0V16.0838ZM2.99859 6.93951L5 4.9381L15 14.9381L12.9986 16.9395L2.99859 6.93951ZM8.00566 1.93951L12.0085 5.94234L10.0071 7.94376L6.00424 3.94093L8.00566 1.93951ZM2.00141 7.93669L6.00424 11.9395L4.00283 13.9409L0 9.9381L2.00141 7.93669Z" fill="#18498F"/>
                                                <rect x="0.725586" y="9.73596" width="10" height="4.91375" transform="rotate(-45 0.725586 9.73596)" fill="#18498F"/>
                                                <circle cx="21" cy="6" r="6" fill="#950000"/>
                                                <rect x="17" y="5" width="8" height="2" fill="white"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                        {% if result.decision starts with "positive" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-icon accordion-icon__gavel">
                                                <title>Decision: {{ result.decision }}</title>
                                                <path d="M0 16.0838H8.48656V17.4982H0V16.0838ZM2.99859 6.93951L5 4.9381L15 14.9381L12.9986 16.9395L2.99859 6.93951ZM8.00566 1.93951L12.0085 5.94234L10.0071 7.94376L6.00424 3.94093L8.00566 1.93951ZM2.00141 7.93669L6.00424 11.9395L4.00283 13.9409L0 9.9381L2.00141 7.93669Z" fill="#18498F"/>
                                                <rect x="0.725586" y="9.73596" width="10" height="4.91375" transform="rotate(-45 0.725586 9.73596)" fill="#18498F"/>
                                                <circle cx="21" cy="6" r="6" fill="#41875E"/>
                                                <path d="M18.3825 5.36666L17 6.86156L19.9033 10L25 4.49387L23.6175 3L19.9026 7.01299L18.3825 5.36666Z" fill="white"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                    </div>

                                    {#<div class="accordion__title">#}
                                    {{ result.name }}{% if result.institution_relationship_context %}{% for context in result.institution_relationship_context %}, {{ context.name_primary }}{% endfor %}{% endif %}
                                    {#</div>#}

                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" class="accordion__arrow">
                                        <polygon points="10.79 0 12 1.18 6 7 6 7 6 7 0 1.18 1.22 0 6 4.64 10.79 0"></polygon>
                                    </svg>
                                </div>

                                <div class="accordion__description js-accordion__description">
                                    <ul class="info-list u-margin">
                                        <li class="info-list__item">
                                            <div class="info-list__term">Agency</div>
                                            <div class="info-list__definition"><a class="info-list__link" href="/register/map/agency/?id={{ result.agency_id }}">{{ result.agency_acronym }}</a></div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Status</div>
                                            <div class="info-list__definition">{{ result.status }}</div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Formal decision</div>
                                            <div class="info-list__definition">{{ result.decision }}</div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Date</div>
                                            <div class="info-list__definition">{{ result.valid_from|date("d/m/Y") }}</div>
                                        </li>
					<li class="info-list__item">
                                            <div class="info-list__term">Valid until</div>
                                            <div class="info-list__definition">
					        {% if result.valid_to %}
						    {{ result.valid_to|date("d/m/Y") }}
						{% else %}
						    not applicable
						{% endif %}
					    </div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Report and decision</div>
                                            <div class="info-list__definition">
                                                <ul class="documents">
                                                    {% for file in result.report_files %}
                                                        <li class="documents__item">
                                                            <a href="{{ file.file }}" target="_blank" rel="external" class="documents__link">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" class="documents__icon">
                                                                    <polygon points="5 5 1 5 5 1 5 5"/>
                                                                    <path d="M6,15a25.85,25.85,0,0,1,3-.8A13.79,13.79,0,0,1,7.23,12,25.86,25.86,0,0,1,6,15Z"/>
                                                                    <path d="M7.35,8H7.28a.33.33,0,0,0-.19.08c-.2.19,0,.54.27.92.25-.65.12-.93,0-1Z"/>
                                                                    <path d="M5.77,0V5.79H0V21H15V0Zm6.52,15.62a1.15,1.15,0,0,1-1,.52,2.88,2.88,0,0,1-1.82-1,20.69,20.69,0,0,0-3.82,1.23,12.51,12.51,0,0,1-1,1.85c-.44.63-.83.92-1.2.92A.69.69,0,0,1,3,19a1,1,0,0,1-.48-1c.08-.71,1-1.45,2.59-2.2a29.27,29.27,0,0,0,1.64-4.68c-.43-.94-.85-2.17-.55-2.89a.89.89,0,0,1,.54-.51.92.92,0,0,1,.29-.05A.68.68,0,0,1,7.61,8c.13.16.51.66-.07,3.1a13.92,13.92,0,0,0,2.2,3.29,8.29,8.29,0,0,1,1.45-.16c.68,0,1.09.16,1.26.49a.88.88,0,0,1-.17.94Z"/>
                                                                    <path d="M3,17.8s0,.1.14.2.33-.13.86-1c-.7.35-1,.64-1,.8Z"/>
                                                                    <path d="M10,15.06c.26.28.49.44.66.44s.17,0,.27-.22a.8.8,0,0,0,.07-.19.73.73,0,0,0-.44-.09,3,3,0,0,0-.56.06Z"/>
                                                                </svg>
                                                                {{ file.file_display_name|replace('_', ' ') }}
                                                                {% if file.languages %}
                                                                    ({% for lang in file.languages %}{{ lang }}{% if loop.length != loop.index %}, {% endif %}{% endfor %})
                                                                {% endif %}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </li>

                                        {% if result.report_links %}
                                            <li class="info-list__item">
                                                <div class="info-list__term"></div>
                                                <div class="info-list__definition">
                                                    <a class="info-list__link" href="{{ result.report_links[0].link }}" target="_blank">View record on agency’s website</a>
                                                </div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No results found.</p>
                    {% endif %}
                </div>
                <div class="pagination u-margin">
                    <div class="pagination__indidator pagination__indidator--institutional"></div>
                    <ul class="paginator pagination__list pagination__list--institutional"></ul>
                </div>



                <h3 class="subtitle text-fields__subtitle reports-programme-title">Programme level <sup class="subtitle-superscript">({{ institution.programmes|length }})</sup></h3>
                <div class="accordion u-margin-s reports-programme-container">

                    {% if institution.programmes|hasHistorical %}
                        <label for="show-invalid-programme" class="report-switch">
                            <input type="checkbox" name="show-invalid-programme" id="show-invalid-programme" value="true" checked="checked" class="js-report-witch js-report-witch-programme">
                            show historic reports <span>({{ institution.programmes|countHistorical }})</span>
                        </label>
                    {% endif %}

                    {% if institution.programmes %}
                        {% for result in institution.programmes %}
                            <div class="accordion__item{% if result.report.report_valid == false %} report-invalid{% else %} report-valid{% endif %} item-visible">
                                <div class="accordion__definition js-accordion__definition">

                                    {% if result.report.report_valid == false %}
                                        <svg width="20px" height="20px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="accordion__clock">
                                            <title>Historic report</title>
                                            <path d="M12,0 C7.03,0 3,4.03 3,9 L0,9 L3.89,12.89 L3.96,13.03 L8,9 L5,9 C5,5.13 8.13,2 12,2 C15.87,2 19,5.13 19,9 C19,12.87 15.87,16 12,16 C10.07,16 8.32,15.21 7.06,13.94 L5.64,15.36 C7.27,16.99 9.51,18 12,18 C16.97,18 21,13.97 21,9 C21,4.03 16.97,0 12,0 Z" id="Path"></path>
                                            <polygon id="Path" points="11 5 11 10 15.28 12.54 16 11.33 12.5 9.25 12.5 5"></polygon>
                                        </svg>
                                    {% endif %}

                                    <div class="accordion__definition-icons">

                                        {% if result.report.status == "part of obligatory EQA system" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="13px" height="17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.75 15.58" class="accordion-icon accordion-icon__shield">
                                                <title>Part of the obligatory external QA system</title>
                                                <defs>
                                                    <style>
                                                        .cls-1{fill:#18498f;}
                                                        .cls-2{fill:#e6f6ff;fill-opacity:0.25;}
                                                    </style>
                                                </defs>
                                                <path class="cls-1" d="M6.38,0,0,2.83V7.08a8.81,8.81,0,0,0,6.38,8.5,8.82,8.82,0,0,0,6.37-8.5V2.83Z"/>
                                                <path class="cls-2" d="M4.8,15,11,2.06l-.39-.17-.52-.24L3.93,14.49A7.61,7.61,0,0,0,4.8,15Z"/>
                                                <path class="cls-2" d="M11.75,2.39,5.54,15.32a7.46,7.46,0,0,0,.84.26l.16-.05L12.66,2.79Z"/>
                                                <path class="cls-2" d="M8.45.92,2.51,13.29a10.42,10.42,0,0,0,.77.72L9.36,1.33Z"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                        {% if result.report.decision == "negative" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-icon accordion-icon__gavel">
                                                <title>Decision: {{ result.report.decision }}</title>
                                                <path d="M0 16.0838H8.48656V17.4982H0V16.0838ZM2.99859 6.93951L5 4.9381L15 14.9381L12.9986 16.9395L2.99859 6.93951ZM8.00566 1.93951L12.0085 5.94234L10.0071 7.94376L6.00424 3.94093L8.00566 1.93951ZM2.00141 7.93669L6.00424 11.9395L4.00283 13.9409L0 9.9381L2.00141 7.93669Z" fill="#18498F"/>
                                                <rect x="0.725586" y="9.73596" width="10" height="4.91375" transform="rotate(-45 0.725586 9.73596)" fill="#18498F"/>
                                                <circle cx="21" cy="6" r="6" fill="#950000"/>
                                                <rect x="17" y="5" width="8" height="2" fill="white"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                        {% if result.report.decision starts with "positive" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-icon accordion-icon__gavel">
                                                <title>Decision: {{ result.report.decision }}</title>
                                                <path d="M0 16.0838H8.48656V17.4982H0V16.0838ZM2.99859 6.93951L5 4.9381L15 14.9381L12.9986 16.9395L2.99859 6.93951ZM8.00566 1.93951L12.0085 5.94234L10.0071 7.94376L6.00424 3.94093L8.00566 1.93951ZM2.00141 7.93669L6.00424 11.9395L4.00283 13.9409L0 9.9381L2.00141 7.93669Z" fill="#18498F"/>
                                                <rect x="0.725586" y="9.73596" width="10" height="4.91375" transform="rotate(-45 0.725586 9.73596)" fill="#18498F"/>
                                                <circle cx="21" cy="6" r="6" fill="#41875E"/>
                                                <path d="M18.3825 5.36666L17 6.86156L19.9033 10L25 4.49387L23.6175 3L19.9026 7.01299L18.3825 5.36666Z" fill="white"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                        {% if result.report.agency_esg_activity_type == "joint programme" %}
                                        <span class="accordion-icon-wrapper">
                                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="accordion-icon accordion-icon__hub">
                                                <title>Joint programme</title>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 0.93951C1.11914 0.93951 0 2.0588 0 3.43951C0 4.82022 1.11914 5.93951 2.5 5.93951C2.97656 5.93951 3.42236 5.80608 3.80127 5.57454L6.6665 8.43951L6.6665 11.0895C5.69971 11.4395 5 12.3562 5 13.4395C5 14.8228 6.1167 15.9395 7.5 15.9395C8.8833 15.9395 10 14.8228 10 13.4395C10 12.3562 9.2998 11.4395 8.33301 11.0895V8.43951L11.1982 5.57436C11.5771 5.80602 12.0229 5.93951 12.5 5.93951C13.8809 5.93951 15 4.82022 15 3.43951C15 2.0588 13.8809 0.93951 12.5 0.93951C11.1191 0.93951 10 2.0588 10 3.43951C10 3.71356 10.0439 3.97732 10.1255 4.22406L7.5 6.98118L4.87451 4.22436C4.95605 3.97753 5 3.71367 5 3.43951C5 2.0588 3.88086 0.93951 2.5 0.93951Z" fill="#18498F"/>
                                            </svg>
                                        </span>
                                        {% endif %}

                                    </div>

                                    {#<div class="accordion__title">#}
                                        {% for item in result.programme_names %}
                                            {% if item.name_is_primary == true %}{{ item.name }}{% if loop.length != loop.index %}, {% endif %}{% endif %}
                                        {% endfor %}
                                        {% if result.qf_ehea_level %}
                                        , {{ result.qf_ehea_level }}
                                        {% endif %}
                                        {% if result.report.institution_relationship_context %},
                                            {% for item in result.report.institution_relationship_context %}
                                                {{ item.name_primary }}{% if loop.length != loop.index %} / {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {#</div>#}

                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" class="accordion__arrow">
                                        <polygon points="10.79 0 12 1.18 6 7 6 7 6 7 0 1.18 1.22 0 6 4.64 10.79 0"></polygon>
                                    </svg>
                                </div>
                                <div class="accordion__description accordion__description--two-tone js-accordion__description">
                                    <ul class="info-list info-list--padding info-list--programme-description">
                                        {% if result.programme_names|length > 1 %}
                                            {% set i = 0 %}
                                            {% for item in result.programme_names %}
                                                {% if item.name_is_primary != true %}
                                                    <li class="info-list__item">
                                                        <div class="info-list__term">
                                                            {% if i == 0 %}Other names{% endif %}
                                                        </div>
                                                        <div class="info-list__definition">{{ item.name }}</div>
                                                    </li>
                                                    {% set i = i + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% set i = 0 %}
                                        {% for item in result.programme_names %}
                                            {% if item.qualification %}
                                                <li class="info-list__item">
                                                    <div class="info-list__term">
                                                        {% if i == 0 %}Qualification{% endif %}
                                                    </div>
                                                    <div class="info-list__definition">{{ item.qualification }}</div>
                                                </li>
                                                {% set i = i + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        <li class="info-list__item">
                                            <div class="info-list__term">Level</div>
                                            <div class="info-list__definition">{{ result.qf_ehea_level ? result.qf_ehea_level : '-' }}{% if result.nqf_level %} (NQF {{ result.nqf_level }}){% endif %}</div>
                                        </li>
                                        {% if result.report.agency_esg_activity_type == "joint programme" %}
                                            {% set i = 0 %}
                                            {% for partner in result.report.institutions %}
                                                <li class="info-list__item">
                                                    <div class="info-list__term">
                                                        {% if i == 0 %}Joint programme with{% endif %}
                                                    </div>
                                                    <div class="info-list__definition">
                                                        <a class="info-list__link" href="{{ function('get_permalink', 418) }}?id={{ partner.id }}">{{ partner.name_primary }}</a>
                                                    </div>
                                                </li>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                    <ul class="info-list info-list--padding">
                                        <li class="info-list__item">
                                            <div class="info-list__term">Type</div>
                                            <div class="info-list__definition">{{ result.report.name }}</a></div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Agency</div>
                                            <div class="info-list__definition"><a class="info-list__link" href="/register/map/agency/?id={{ result.report.agency_id }}">{{ result.report.agency_acronym }}</a></div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Status</div>
                                            <div class="info-list__definition">{{ result.report.status }}</div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Formal decision</div>
                                            <div class="info-list__definition">{{ result.report.decision }}</div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Date</div>
                                            <div class="info-list__definition">{{ result.report.valid_from|date("d/m/Y") }}</div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Valid until</div>
                                            <div class="info-list__definition">
					        {% if result.report.valid_to %}
						    {{ result.report.valid_to|date("d/m/Y") }}
						{% else %}
						    not applicable
						{% endif %}
					    </div>
                                        </li>
                                        <li class="info-list__item">
                                            <div class="info-list__term">Report and decision</div>
                                            <div class="info-list__definition">
                                                <ul class="documents">
                                                    {% for file in result.report.report_files %}
                                                        <li class="documents__item">
                                                            <a href="{{ file.file }}" target="_blank" rel="external" class="documents__link">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" class="documents__icon">
                                                                    <polygon points="5 5 1 5 5 1 5 5"/>
                                                                    <path d="M6,15a25.85,25.85,0,0,1,3-.8A13.79,13.79,0,0,1,7.23,12,25.86,25.86,0,0,1,6,15Z"/>
                                                                    <path d="M7.35,8H7.28a.33.33,0,0,0-.19.08c-.2.19,0,.54.27.92.25-.65.12-.93,0-1Z"/>
                                                                    <path d="M5.77,0V5.79H0V21H15V0Zm6.52,15.62a1.15,1.15,0,0,1-1,.52,2.88,2.88,0,0,1-1.82-1,20.69,20.69,0,0,0-3.82,1.23,12.51,12.51,0,0,1-1,1.85c-.44.63-.83.92-1.2.92A.69.69,0,0,1,3,19a1,1,0,0,1-.48-1c.08-.71,1-1.45,2.59-2.2a29.27,29.27,0,0,0,1.64-4.68c-.43-.94-.85-2.17-.55-2.89a.89.89,0,0,1,.54-.51.92.92,0,0,1,.29-.05A.68.68,0,0,1,7.61,8c.13.16.51.66-.07,3.1a13.92,13.92,0,0,0,2.2,3.29,8.29,8.29,0,0,1,1.45-.16c.68,0,1.09.16,1.26.49a.88.88,0,0,1-.17.94Z"/>
                                                                    <path d="M3,17.8s0,.1.14.2.33-.13.86-1c-.7.35-1,.64-1,.8Z"/>
                                                                    <path d="M10,15.06c.26.28.49.44.66.44s.17,0,.27-.22a.8.8,0,0,0,.07-.19.73.73,0,0,0-.44-.09,3,3,0,0,0-.56.06Z"/>
                                                                </svg>
                                                                {{ file.file_display_name|replace('_', ' ') }} ({% for lang in file.languages %}{{ lang }}{% if loop.length != loop.index %}, {% endif %}{% endfor %})
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                            </div>
                                        </li>

                                        {% if result.report.report_links %}
                                            <li class="info-list__item">
                                                <div class="info-list__term"></div>
                                                <div class="info-list__definition">
                                                    <a class="info-list__link" href="{{ result.report.report_links[0].link }}" target="_blank">View record on agency’s website</a>
                                                </div>
                                            </li>
                                        {% endif %}


                                    </ul>

                                </div>
                            </div>


                        {% endfor %}
                    {% else %}
                        <p>No results found.</p>
                    {% endif %}

                </div>


                <div class="u-margin-l">
                    <div class="pagination__indidator pagination__indidator--reports u-margin-s"></div>
                    <ul class="pagination paginator pagination__list pagination__list--reports"></ul>
                </div>

			</div>
		</div>
	</main>
{% endblock %}
