{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

                {% if results %}
                    {% include 'views/snippets/search.twig' with {type: 'advanced'} %}
                {% else %}
                    {% include 'views/snippets/search.twig' with {type: 'simple'} %}
                {% endif %}


                {% if results %}

                    {% if formdata.query %}
                        <h2 class="title title__small">{{ paginator.total }} institutions matching the term "{{ formdata.query }}":</h2>
                    {% elseif formdata.country %}

                        {% set selected_country = "none" %}
                        {% for country in countries %}
                            {% if formdata.country == country.id %}
                                {% set selected_country = country.name_english %}
                            {% endif %}
                        {% endfor %}

                        <h2 class="title title__small">{{ paginator.total }} institutions matching the country {{ selected_country }}</h2>
                    {% endif %}

                    <div class=" u-margin">
                        <ul class="agency-list">
                            {% for institution in results %}
                                <li class="agency-list__item">
                                    <a href="{{ function('get_permalink', 418) }}?id={{ institution.id }}" class="agency-list__link">
                                        {{ institution.name_primary }}
                                        {% if institution.hierarchical_relationships.part_of != null %}
                                            {% for item in institution.hierarchical_relationships.part_of %}
                                                / {{ item.name_primary }}
                                            {% endfor %}
                                        {% endif %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
                                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"></polygon>
                                        </svg>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                    {% set url = '?' %}

                    {% for key, val in formdata %}
                        {% if key != 'pagin' %}
                            {% set url = url ~ key ~ '=' ~ val %}
                            {% if not loop.last %}
                                {% set url = url ~ '&' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="u-margin-l">
                        <div class="pagination__indidator pagination__indidator u-margin-s">
                            Institution {{ paginator.start }}-{{ paginator.end }} of {{ paginator.total }}
                        </div>
                        <ul class="pagination paginator pagination__list">
                            {% if paginator.first == false %}
                                <li class="pagination__item"><a href="{{ url }}pagin={{ (paginator.prev - 1) }}">&laquo;</a></li>
                            {% else %}
                                <li class="pagination__item pagination__item--disabled">&laquo;</li>
                            {% endif %}

                            {% for item in 0..(paginator.pages - 1) %}
                                <li class="pagination__item"><a class="pagination__link{% if ( loop.index ) == paginator.current %} current{% endif %}" href="{{ url }}pagin={{ item }}">{{ (item + 1) }}</a></li>
                            {% endfor %}

                            {% if paginator.last == false %}
                                <li class="pagination__item"><a href="{{ url }}pagin={{ (paginator.next - 1) }}">&raquo;</a></li>
                            {% else %}
                                <li class="pagination__item pagination__item--disabled">&raquo;</li>
                            {% endif %}
                        </ul>
                    </div>

                {% else %}
                    {% if formdata %}
                        <h2 class="title u-margin">No results found matching your criteria</h2>
                    {% endif %}
                {% endif %}

                {% if not formdata %}
                    <ul class="country-list">
                        {% for country in countries %}
                            <li class="country-list__item">
                                <a href="{{ function('get_permalink', 6) }}/?query=&country={{ country.id }}" class="country-list__link">
                                    {{ country.name_english }} <span class="country-list__count">{{ country.institution_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
		</div>
	</main>
{% endblock %}
