{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}

                {% set selected_country = false %}
                {% set selected_country_name = false %}
                {% if formdata.country %}
                    {% for country in countries %}
                        {% if country.id == formdata.country %}
                            {% set selected_country = country.id %}
                            {% set selected_country_name = country.name_english %}
                        {% endif %}
                    {% endfor %}
                    {% if selected_country and results.results %}
                        <a href="{{ pages.country }}?id={{ selected_country }}" class="call-to-action">
                            <h3 class="call-to-action__title">{{ selected_country_name }}</h3>
                            <p class="call-to-action__description">View country profile</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                            </svg>
                        </a>
                    {% endif %}
                {% endif %}
                {% set selected_agency = false %}
                {% set selected_agency_acronym = false %}
                {% if formdata.agency or formdata.esg_activity %}
                    {% for agency in agencies %}
                        {% if formdata.agency == agency.id %}
                            {% set selected_agency = agency.id %}
                            {% set selected_agency_acronym = agency.acronym_primary %}
                        {% else %}
                            {% for activity in agency.activities %}
                                {% if formdata.esg_activity == activity.id %}
                                    {% set selected_agency = agency.id %}
                                    {% set selected_agency_acronym = agency.acronym_primary %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% if selected_agency and results.results %}
                        <a href="{{ pages.agency }}?id={{ selected_agency }}" class="call-to-action">
                            <h3 class="call-to-action__title">{{ selected_agency_acronym }}</h3>
                            <p class="call-to-action__description">View agency profile</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                            </svg>
                        </a>
                    {% endif %}
                {% endif %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

				{% for block in post.get_field('blocks') %}
					{% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
				{% endfor %}

                {% if formdata.country or formdata.status or formdata.agency or formdata.esg_activity or formdata.report_year or formdata.qf_ehea_level or formdata.focus_country_is_crossborder == 'true' %}
                    {% include 'views/snippets/search.twig' with {type: 'advanced', title: true, search_url: pages.qa_results } %}
                {% else %}
                    {% include 'views/snippets/search.twig' with {type: 'simple', title: true, search_url: pages.qa_results } %}
                {% endif %}

                {% if results.results %}

                    {% set url = '?' %}

                    {% for key, val in formdata %}
                        {% if key != 'paging' %}
                            {% set url = url ~ key ~ '=' ~ val %}
                            {% if not loop.last %}
                                {% set url = url ~ '&' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="u-margin-xs">
                    {% if paginator.pages > 1 %}
                        <ul class="pagination paginator pagination__list u-margin-xs">
                            {% if paginator.first == false %}
                                <li class="pagination__item"><a href="{{ url }}&paging={{ (paginator.prev - 1) }}">&laquo;</a></li>
                            {% else %}
                                <li class="pagination__item pagination__item--disabled">&laquo;</li>
                            {% endif %}

                            {% for item in 0..(paginator.pages - 1) %}
                                <li class="pagination__item"><a class="pagination__link{% if ( loop.index ) == paginator.current %} current{% endif %}" href="{{ url }}&paging={{ item }}">{{ (item + 1) }}</a></li>
                            {% endfor %}

                            {% if paginator.last == false %}
                                <li class="pagination__item"><a href="{{ url }}&paging={{ (paginator.next - 1) }}">&raquo;</a></li>
                            {% else %}
                                <li class="pagination__item pagination__item--disabled">&raquo;</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                        <div class="pagination__indidator pagination__indidator u-margin-s">
                            {% if paginator.pages > 1 %}
                                {{ paginator.start }} - {{ paginator.end }} of {{ paginator.total }} institutions matching your search
                            {% else %}
                                {{ paginator.total }} institution{% if paginator.total > 1 %}s{% endif %} matching your search
                            {% endif %}
                        </div>
                    </div>

                    <div class=" u-margin-s">
                        <ul class="agency-list">
                            {% for institution in results.results %}
                                <li class="agency-list__item">
                                    <a href="{{ pages.institution -}}
                                            ?id={{ institution.id -}}
                                            " class="agency-list__link">
                                        {% if institution.hierarchical_relationships.part_of != null %}
                                            {% for item in institution.hierarchical_relationships.part_of %}
                                                {{ item.name_primary }} /
                                            {% endfor %}
                                        {% endif %}
                                        {{ institution.name_primary }}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
                                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"></polygon>
                                        </svg>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="u-margin-xs">
                        <ul class="pagination paginator pagination__list">
                            {% if paginator.first == false %}
                                <li class="pagination__item"><a href="{{ url }}&paging={{ (paginator.prev - 1) }}">&laquo;</a></li>
                            {% else %}
                                <li class="pagination__item pagination__item--disabled">&laquo;</li>
                            {% endif %}

                            {% for item in 0..(paginator.pages - 1) %}
                                <li class="pagination__item"><a class="pagination__link{% if ( loop.index ) == paginator.current %} current{% endif %}" href="{{ url }}&paging={{ item }}">{{ (item + 1) }}</a></li>
                            {% endfor %}

                            {% if paginator.last == false %}
                                <li class="pagination__item"><a href="{{ url }}&paging={{ (paginator.next - 1) }}">&raquo;</a></li>
                            {% else %}
                                <li class="pagination__item pagination__item--disabled">&raquo;</li>
                            {% endif %}
                        </ul>
                    </div>

                    {% if cta.qa.form %}
                    <div class="form u-margin">
                        {{ fn('gravity_form', cta.qa.form.id, false, false, false, '', true, '0') }}
                    </div>
                    {% endif %}

                {% else %}

                        <div class="u-margin-s">
                            <div class="pagination__indidator pagination__indidator u-margin-s">
                                No institutions with QA results match your search. Please refer to the following pages:
                             </div>
                        </div>
                        {% if pages.faq %}
                        <a href="{{ pages.faq }}" class="call-to-action">
                            <h3 class="call-to-action__title">Why does institution X not show up?</h3>
                            <p class="call-to-action__description">There could be several reasons, read our frequently asked questions for an explanation.</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                            </svg>
                        </a>
                        {% endif %}
                        {% if selected_country %}
                            <a href="{{ pages.qa_results }}?country={{ selected_country }}" class="call-to-action">
                                <h3 class="call-to-action__title">Show all institutions in {{ selected_country_name }}</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                    <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                                </svg>
                            </a>
                        {% endif %}
                        {% if selected_agency %}
                            <a href="{{ pages.agency }}?id={{ selected_agency }}" class="call-to-action">
                                <h3 class="call-to-action__title">Read more about {{ selected_agency_acronym }}</h3>
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                    <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                                </svg>
                            </a>
                        {% endif %}

                {% endif %}

            </div>
		</div>
	</main>
{% endblock %}
