{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' with { accordion_sidebar: true } %}

                {% include 'views/snippets/search-facets.twig' with { facets: search.facets, with_query: true } %}

                {% if formdata.country and results.results %}
                    <a href="{{ pages.country }}?id={{ countriesByName[formdata.country].id }}" class="call-to-action">
                        <h3 class="call-to-action__title">{{ formdata.country }}</h3>
                        <p class="call-to-action__description">View country profile</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                        </svg>
                    </a>
                {% endif %}

                {% if formdata.agency and results.results %}
                    <a href="{{ pages.agency }}?id={{ agenciesByName[formdata.agency].id }}" class="call-to-action">
                        <h3 class="call-to-action__title">{{ formdata.agency }}</h3>
                        <p class="call-to-action__description">View agency profile</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                        </svg>
                    </a>
                {% endif %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

				{% for block in post.get_field('blocks') %}
					{% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
				{% endfor %}

                {% if results.results %}

                    {% include 'views/snippets/search-pagination.twig' with { paginator_style: 'select', ordering: search.ordering, results_per_page: [ 10, 20, 50, 100 ], result_type: 'institution' } %}

                    <div class=" u-margin-s">
                        <ul class="search-results">
                            {% for institution in results.results %}
                                <li class="search-results__item">
                                    <a href="{{ pages.institution|addParameters(formdata, { 'query': null, 'offset': null, 'limit': null, 'ordering': null, 'id': institution.id } ) }}" class="search-results__link">
                                        <span class="search-results__name-primary">
                                        {% for item in institution.hierarchical_relationships.part_of %}
                                            {% if item.relationship_type in [ 'faculty' ] %}
                                                {{ item.name_primary }},
                                            {% endif %}
                                        {% endfor %}
                                        {{ institution.name_primary }}
                                        {% for item in institution.hierarchical_relationships.part_of %}
                                            {% if item.relationship_type not in [ 'faculty' ] %}
                                                <span class="search-results__name-official">
                                                    ({{- item.name_primary -}})
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                        {% if institution.name_official_display != institution.name_primary %}
                                        <span class="search-results__name-official">
                                            {{ institution.name_official_display }}
                                        </span>
                                        {% endif %}
                                        <span>
                                        {% for place in institution.place %}
                                            {%- if place.city -%}
                                                {{ place.city }} ({{ place.country }})
                                            {%- else -%}
                                                {{ place.country -}}
                                            {%- endif -%}
                                            {% if loop.index != loop.length %}, {% endif %}
                                        {% endfor %}
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="search-results__arrow">
                                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"></polygon>
                                        </svg>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if cta.qa.form %}
                    <div class="form u-margin">
                        {{ fn('gravity_form', cta.qa.form.id, false, false, false, '', true, '0') }}
                    </div>
                    {% endif %}

                {% else %}

                    <div class="u-margin-s">
                        <div class="pagination__indidator pagination__indidator u-margin-s">
                            No institutions with QA results match your search. Please refer to the following pages:
                         </div>
                    </div>
                    {% if pages.faq %}
                        <a href="{{ pages.faq }}" class="call-to-action">
                            <h3 class="call-to-action__title">Why does institution X not show up?</h3>
                            <p class="call-to-action__description">There could be several reasons, read our frequently asked questions for an explanation.</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                            </svg>
                        </a>
                    {% endif %}
                    {% if formdata.country %}
                        <a href="{{ pages.qa_results }}?country={{ countriesByName[formdata.country].id }}" class="call-to-action">
                            <h3 class="call-to-action__title">Show all institutions in {{ formdata.country }}</h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                            </svg>
                        </a>
                    {% endif %}
                    {% if formdata.agency %}
                        <a href="{{ pages.agency }}?id={{ agenciesByName[formdata.agency].id }}" class="call-to-action">
                            <h3 class="call-to-action__title">Read more about {{ formdata.agency }}</h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="call-to-action__arrow">
                                <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                            </svg>
                        </a>
                    {% endif %}
                    {% if cta.qa.form %}
                        <div class="form u-margin">
                            {{ fn('gravity_form', cta.qa.form.id, false, false, false, '', true, '0') }}
                        </div>
                    {% endif %}

                {% endif %}

            </div>
		</div>
	</main>
{% endblock %}
