{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

            {#{ dump( countries ) }#}
            {#{ dump( institutions ) }#}
            {#{ dump( institutionsByCountry ) }#}

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}
                {% include 'views/snippets/search.twig' %}

                {% if results %}

                    <h2 class="title u-margin">{{ results|length }} search results matching your criteria:</h2>

                    <div class=" u-margin">
                        <ul class="agency-list">
                            {% for institution in results %}
                                <li class="agency-list__item">
                                    <a href="/register/institutions/single/?id={{ institution.id }}" class="agency-list__link">
                                        {{ institution.name_primary }}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
                                            <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"></polygon>
                                        </svg>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    {% if formdata %}
                        <h2 class="title u-margin">No results found matching your criteria</h2>
                    {% endif %}
                {% endif %}

                {% if not formdata %}
                    <ul class="country-list">
                        {% for country in countries %}
                            <li class="country-list__item">
                                <a href="{{ function('get_permalink', 6) }}?query=&country={{ country.id }}" class="country-list__link">
                                    {{ country.name_english }} <span class="country-list__count">{{ country.agency_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
		</div>
	</main>
{% endblock %}
