{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

				{% for block in post.get_field('blocks') %}
					{% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
				{% endfor %}

                    {# map view #}
                    {% include 'views/snippets/map.twig' with { 'maptype': maptype } %}

                    {# list view #}
                    {% if maptype == 'blank' %}
                        <ul class="country-list">
                            {% for country in countriesAll %}
                                <li class="country-list__item">
                                    <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="agency-list__link">
                                        <span class="agency-list__country">{{ country.iso_3166_alpha2 }}</span>
                                        {{ country.name_english }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if maptype == 'cross-border' %}
                        <h3 class="subtitle u-margin-s map-legend-dark">Recognising EQAR-registered agencies as part of the national external QA requirements</h3>
                        <ul class="country-list u-margin">
                            {% for country in countriesAll %}
                                {% if country.external_QAA_is_permitted == 'yes' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="country-list__link">
                                            <!-- <span class="country-list__item">{{ country.iso_3166_alpha2 }}</span> -->
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <h3 class="subtitle u-margin-s map-legend-medium">Recognising foreign agencies based on their own framework/requirements</h3>
                        <ul class="country-list u-margin">
                            {% for country in countriesAll %}
                                {% if country.external_QAA_is_permitted == 'partially / with conditions' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="country-list__link">
                                            <!-- <span class="country-list__item">{{ country.iso_3166_alpha2 }}</span> -->
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <h3 class="subtitle u-margin-s map-legend-light">Not recognising foreign agencies as part of the national external QA requirements</h3>
                        <ul class="country-list u-margin">
                            {% for country in countriesAll %}
                                {% if country.external_QAA_is_permitted == 'no' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="country-list__link">
                                            <!-- <span class="country-list__item">{{ country.iso_3166_alpha2 }}</span> -->
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if maptype == 'eaqejp' %}
                        <h3 class="subtitle u-margin-s map-legend-dark">European Approach available to all higher education institutions</h3>
                        <ul class="country-list u-margin">
                            {% for country in countriesAll %}
                                {% if country.european_approach_is_permitted == 'yes' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="country-list__link">
                                            <!-- <span class="country-list__item">{{ country.iso_3166_alpha2 }}</span> -->
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <h3 class="subtitle u-margin-s map-legend-medium">European Approach available to some higher education institutions or only under specific conditions</h3>
                        <ul class="country-list u-margin">
                            {% for country in countriesAll %}
                                {% if country.european_approach_is_permitted == 'partially / with conditions' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="country-list__link">
                                            <!-- <span class="country-list__item">{{ country.iso_3166_alpha2 }}</span> -->
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <h3 class="subtitle u-margin-s map-legend-light">European Approach not available to higher education institutions</h3>
                        <ul class="country-list u-margin">
                            {% for country in countriesAll %}
                                {% if country.european_approach_is_permitted == 'no' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="country-list__link">
                                            <!-- <span class="country-list__item">{{ country.iso_3166_alpha2 }}</span> -->
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}


                    {% if maptype == 'govermental' %}
                        <ul class="country-list">
                            {% for country in countriesAll %}
                                {% if country.eqar_governmental_member_start != null %}
                                    {% set country_class = ' active' %}
                                    <li class="country-list__item">
                                        <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="agency-list__link">
                                            <span class="agency-list__country">{{ country.iso_3166_alpha2 }}</span>
                                            {{ country.name_english }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

			</div>
		</div>
	</main>
{% endblock %}
