{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

				<h1 class="title u-margin">{{ post.title }}</h1>

                <div class="map-controls u-margin">
                    {% include 'views/snippets/view-switch.twig' %}
                    <select class="map-controls__select js-select-go" name="">
                        <option value="{{ function('get_permalink', 87) }}"{% if function('is_page', 87) %} selected="selected"{% endif %}>Registered Agencies</option>
                        <option value="{{ function('get_permalink', 1625) }}"{% if function('is_page', 1625) %} selected="selected"{% endif %}>Cross-Border Recognition</option>
                        <option value="{{ function('get_permalink', 428) }}"{% if function('is_page', 428) %} selected="selected"{% endif %}>European Approach for QA of JP</option>
                        <option value="{{ function('get_permalink', 430) }}"{% if function('is_page', 430) %} selected="selected"{% endif %}>Governmental Members</option>
                    </select>
                </div>

                {% if maptype_list == true %}
                    <ul class="agency-list">

                    {% if maptype == 'agencies' %}
                        {% for agency in agencies %}
                            <li class="agency-list__item">
                                <a href="/register/map/agency/?id={{ agency.id }}" class="agency-list__link">
                                    <span class="agency-list__country">{{ agency.country.iso_3166_alpha2 }}</span>
                                    {{ agency.acronym_primary }} - {{ agency.name_primary }}

                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
                                        <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                                    </svg>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}

                    {% if maptype == 'cross-border' %}
                        {% for country in countriesAll %}
                            {% if country.external_QAA_is_permitted == 'yes' %}
                                <li class="agency-list__item">
                                    <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="agency-list__link">
                                        <span class="agency-list__country">{{ country.iso_3166_alpha2 }}</span>
                                        {{ country.name_english }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if maptype == 'eaqejp' %}
                        {% for country in countriesAll %}
                            {% if country.european_approach_is_permitted == 'yes' %}
                                <li class="agency-list__item">
                                    <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="agency-list__link">
                                        <span class="agency-list__country">{{ country.iso_3166_alpha2 }}</span>
                                        {{ country.name_english }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if maptype == 'govermental' %}
                        {% for country in countriesAll %}
                            {% if country.eqar_governmental_member_start != null %}
                                {% set country_class = ' active' %}
                                <li class="agency-list__item">
                                    <a href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" title="{{ country.name_english }}" class="agency-list__link">
                                        <span class="agency-list__country">{{ country.iso_3166_alpha2 }}</span>
                                        {{ country.name_english }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>


                {% else %}
                    {% include 'views/snippets/map.twig' with { 'maptype': maptype } %}
                {% endif %}

				{% for block in post.get_field('blocks') %}
					{% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
