<form class="form qa-search__form">
    <div class="form__fieldset form__fieldset--search">
        <input type="search" name="query" value="{{ formdata.query|replace({"\\'": "'", "\\\\": "\\"})|escape('html_attr') }}">
        <input type="submit" value="{{ search.button }}" class="qa-search__button">
    </div>

    <div class="form__fieldset">
        <button class="button qa-search__advanced js-qa-search__toggle">Advanced search</button>
    </div>

    <div class="qa-search__expand js-qa-search__expand">
        <!--
            <div class="form__columns">
                <div class="form__fieldset form__fieldset--half">
                    <label for="" class="form__label">Historical Data</label>
                    <input type="date">
                </div>
            </div>
        -->

        <div class="form__fieldset">
            <label for="agency" class="form__label">Agency</label>
            <select name="agency">
                <option value="">Agency:</option>
                {% for agency in agencies %}
                    <option value="{{ agency.id }}">{{ agency.name_primary }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form__fieldset">
            <label for="country" class="form__label">Country</label>
            <select name="country">
                <option value="">Country:</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name_english }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form__fieldset">
            <label for="" class="form__label">EHEA Level</label>
            <div class="checkbox checkbox--horizontal">
                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input" value="1" name="qf_ehea_level">
                    Short cycle
                </label>

                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input" value="2" name="qf_ehea_level">
                    First cycle
                </label>

                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input" value="3" name="qf_ehea_level">
                    Second cycle
                </label>

                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input" value="4" name="qf_ehea_level">
                    Third cycle
                </label>
            </div>
        </div>
    </div>
</form>
