<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <title>
        {% if page_title %}
            {{ page_title }}
        {% else %}
            {{ wp_title }}
        {% endif %}
    </title>

    <meta charset="{{ bloginfo('charset') }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="rokit-id" content="{{ post.id }}">

    <link href="{{ bloginfo('pingback_url') }}" rel="pingback">
    <link href="{{ theme.link }}/public/css/eqar.css" rel="stylesheet">

    {{ function('wp_head') }}

    <!-- Matomo -->
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDomains", ["*.eqar.eu","*.www.eqar.eu","*.eqar.eu","*.www.eqar.eu"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//analytics.eqar.eu/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Matomo Code -->
</head>
