<header class="header">
	<div class="header__container u-container">
		<a href="{{ site.url }}" class="header__logo">
			{{ bloginfo('name') }}
		</a>

		<nav>
			<ul class="menu">
				{% for item in menu.get_items %}
					<li class="{{ item.classes | join(' ') }}">
						<a href="{{ item.get_link }}" class="menu-link">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
    </div>
</header>
