<style media="screen">
    .europe.active {
        fill: #18498F;
    }
    .europe.active2 {
        fill: #98ACCA;
    }
</style>
<svg
    id="eheamap"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 8729.1 6842.74"
    class="map map-{{ maptype }} {{ post.get_field('blocks') ? 'u-margin' }}">
    <metadata id="metadata0">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title>Map of the European Higher Education Area (EHEA)</dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <title id="title0">Map of the European Higher Education Area (EHEA)</title>
    <desc id="desc0">
        A blank map of the European Higher Education Area (EHEA) and countries fully surrounded by the EHEA.
        Every country has an id which is its ISO-3116-1-ALPHA2 code in lower case.
        Members of the EU have a class=&quot;eu&quot;, all EHEA countries have a class=&quot;europe&quot;, non-EHEA countries have a class=&quot;nonehea&quot;.
        Image based on https://commons.wikimedia.org/wiki/File:Blank_map_of_Europe_(with_disputed_regions).svg
        by Júlio &quot;Tintazul&quot; Reis and Marian &quot;maix&quot; Sigler.
        Made by Colin Tück, EQAR, 2017
        Released under CreativeCommons Attribution ShareAlike (http://creativecommons.org/licenses/by-sa/2.5/).
    </desc>

    {% macro draw_country(maptype, country, selected_country) %}
        {% if maptype == 'agencies' %}
            {% if country.agency_count > 0 %} active
                {% set country_class = ' active' %}
            {% else %}
                {% set country_class = '' %}
            {% endif %}
        {% elseif maptype == 'cross-border' %}
            {% if country.external_QAA_is_permitted == 'yes' %}
                {% set country_class = ' active' %}
            {% elseif country.external_QAA_is_permitted == 'partially / with conditions' %}
                {% set country_class = ' active2' %}
            {% else %}
                {% set country_class = '' %}
            {% endif %}
        {% elseif maptype == 'eaqejp' %}
            {% if country.european_approach_is_permitted == 'yes' %}
                {% set country_class = ' active' %}
            {% elseif country.european_approach_is_permitted == 'partially / with conditions' %}
                {% set country_class = ' active2' %}
            {% else %}
                {% set country_class = '' %}
            {% endif %}
        {% elseif maptype == 'govermental' %}
            {% if country.eqar_governmental_member_start != null %}
                {% set country_class = ' active' %}
            {% else %}
                {% set country_class = '' %}
            {% endif %}
        {% elseif maptype == 'highlight' %}
            {% if country.iso_3166_alpha2|upper == selected_country|upper %}
                {% set country_class = ' active' %}
            {% else %}
                {% set country_class = '' %}
            {% endif %}
        {% endif %}

        <a xlink:href="{{ function('get_permalink', 434) }}?id={{ country.id }}" data-country="{{ country.id }}" xlink:title="{{ country.name_english|e('html') }}">
            <path id="{{ country.iso_3166_alpha2 }}" class="europe{{ country_class }}{% if country.iso_3166_alpha2 in ['LU', 'MT', 'LI', 'VA', 'AD'] %} circle{% endif %}" {% include 'views/countries/country-' ~ country.iso_3166_alpha2 ~ '.svg.twig' with { 'country' : country } %} />
        </a>
    {% endmacro %}

    {% import _self as this %}

    {% for country in countriesAll %}
        {% if country.iso_3166_alpha2 not in ['LU', 'MT', 'LI', 'VA', 'AD'] %}
            {{ this.draw_country(maptype, country, selected_country) }}
        {% endif %}
    {% endfor %}

    {% for country in countriesAll %}
        {% if country.iso_3166_alpha2 in ['LU', 'MT', 'LI', 'VA', 'AD'] %}
            {{ this.draw_country(maptype, country, selected_country) }}
        {% endif %}
    {% endfor %}

    <path class="eu nonehea" id="im" d="M1367.51,3132.39c-7.17,1.43-14.33,1.43-21.5,5.73-5.73,4.3-7.17,14.33-12.9,20.06-61.63,55.89,37.26,41.56,34.4-25.8Z"/>
    <path class="nonehea" id="sm" d="M3248.43,5271.5c2.87-4.3,2.87-10,7.17-12.9C3267.07,5247.14,3264.2,5291.56,3248.43,5271.5Z"/>
    <path class="nonehea" id="mc" d="M2511.79,5324.53c11.47,0,21.5-10,21.5-20.06s-10-18.63-21.5-18.63-21.5,8.6-21.5,18.63,10,20.06,21.5,20.06Z"/>

</svg>
