<style media="screen">
    .europe.active {
        fill: #18498F;
    }
</style>

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    viewBox="1560 1200 8800 7000"
    version="1.0"
    id="eheamap"
    class="map {{ post.get_field('blocks') ? 'u-margin' }}">
    <metadata id="metadata0">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title>Map of the European Higher Education Area (EHEA)</dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <title id="title0">Map of the European Higher Education Area (EHEA)</title>
    <desc id="desc0">

    A blank map of the European Higher Education Area (EHEA) and countries fully surrounded by the EHEA.

    Every country has an id which is its ISO-3116-1-ALPHA2 code in lower case.

    Members of the EU have a class=&quot;eu&quot;, all EHEA countries have a class=&quot;europe&quot;, non-EHEA countries have a class=&quot;nonehea&quot;.

    Image based on https://commons.wikimedia.org/wiki/File:Blank_map_of_Europe_(with_disputed_regions).svg
    by Júlio &quot;Tintazul&quot; Reis and Marian &quot;maix&quot; Sigler.

    Made by Colin Tück, EQAR, 2017

    Released under CreativeCommons Attribution ShareAlike (http://creativecommons.org/licenses/by-sa/2.5/).
    </desc>


    {% for country in countries %}
        <a xlink:href="/register/country/?id={{ country.id }}" data-country="{{ country.id }}" xlink:title="{{ country.name_english }}">
            <path id="{{ country.iso_3166_alpha2 }}" class="europe{% if country.agency_count > 0 %} active{% endif %}{% if country.iso_3166_alpha2 in ['LU', 'MT', 'LI', 'VA', 'AD'] %} circle{% endif %}" {% include 'views/countries/country-' ~ country.iso_3166_alpha2 ~ '.svg.twig' with { 'country' : country } %} />
        </a>
    {% endfor %}

<!--
    <a xlink:href="/register/country/?id=152" data-country="152" xlink:title="Serbia"><path id="rs" class="europe active"  /></a>
    <a xlink:href="/register/country/?id=75" data-country="75" xlink:title="Iceland"><path id="is" class="europe" /></a>
    <a xlink:href="/register/country/?id=139" data-country="139" xlink:title="Portugal"><path id="pt" class="eu europe"  /></a>
    <a xlink:href="/register/country/?id=161" data-country="161" xlink:title="Spain"><path class="eu europe" id="es"  /></a>
    <a xlink:href="/register/country/?id=82" data-country="82" xlink:title="Italy"><path class="eu europe" id="it"  /></a>
    <a xlink:href="/register/country/?id=138" data-country="138" xlink:title="Poland"><path class="eu europe" id="pl"  /></a>
    <a xlink:href="/register/country/?id=86" data-country="86" xlink:title="Kazakhstan"><path class="europe" id="kz" /></a>
    <a xlink:href="/register/country/?id=59" data-country="59" xlink:title="Finland"><path class="eu europe" id="fi"  /></a>
    <a xlink:href="/register/country/?id=47" data-country="47" xlink:title="Denmark"><path class="eu europe" id="de"  /></a>
    <a xlink:href="/register/country/?id=166" data-country="166" xlink:title="Sweden"><path class="eu europe" id="se"  /></a>
    <a xlink:href="/register/country/?id=129" data-country="129" xlink:title="Norway"><path class="europe" id="no"  /></a>
    <a xlink:href="/register/country/?id=181" data-country="181" xlink:title="Ukraine"><path class="europe" id="ua"  /></a>
    <a xlink:href="/register/country/?id=11" data-country="11" xlink:title="Azerbaijan"><path class="europe" id="az"  /></a>
    <a xlink:href="/register/country/?id=63" data-country="63" xlink:title="Georgia"><path class="europe" id="ge"  /></a>
    <a xlink:href="/register/country/?id=177" data-country="177" xlink:title="Turkey"><path class="europe" id="tr"  /></a>
    <a xlink:href="/register/country/?id=8" data-country="8" xlink:title="Armenia"><path class="europe" id="am"  /></a>
    <a xlink:href="/register/country/?id=45" data-country="45" xlink:title="Cyprus"><path class="eu europe" id="cy"  /></a>
    <a xlink:href="/register/country/?id=80" data-country="80" xlink:title="Ireland"><path class="eu europe" id="ie"  /></a>
    <a xlink:href="/register/country/?id=183" data-country="183" xlink:title="United Kingdom"><path class="eu europe" id="gb"  /></a>
    <a xlink:href="/register/country/?id=167" data-country="167" xlink:title="Switzerland"><path class="europe" id="ch"  /></a>
    <a xlink:href="/register/country/?id=10" data-country="10" xlink:title="Austria"><path class="eu europe" id="at"  /></a>
    <a xlink:href="/register/country/?id=46" data-country="46" xlink:title="Czech Republic"><path class="eu europe" id="cz"  /></a>
    <a xlink:href="/register/country/?id=156" data-country="156" xlink:title="Slovakia"><path class="eu europe" id="sk"  /></a>
    <a xlink:href="/register/country/?id=74" data-country="74" xlink:title="Hungary"><path class="eu europe" id="hu"  /></a>
    <a xlink:href="/register/country/?id=100" data-country="100" xlink:title="Lithuania"><path class="eu europe" id="lt"  /></a>
    <a xlink:href="/register/country/?id=94" data-country="94" xlink:title="Latvia"><path class="eu europe" id="lv"  /></a>
    <a xlink:href="/register/country/?id=114" data-country="114" xlink:title="Moldova"><path class="europe" id="md"  /></a>
    <a xlink:href="/register/country/?id=141" data-country="141" xlink:title="Romania"><path class="eu europe" id="ro"  /></a>
    <a xlink:href="/register/country/?id=26" data-country="26" xlink:title="Bulgaria"><path class="eu europe" id="bg"  /></a>
    <a xlink:href="/register/country/?id=2" data-country="2" xlink:title="Albania"><path class="europe" id="al"  /></a>
    <a xlink:href="/register/country/?id=56" data-country="56" xlink:title="Estonia"><path class="eu europe" id="ee"  /></a>
    <a xlink:href="/register/country/?id=60" data-country="60" xlink:title="France"><path class="eu europe" id="fr"  /></a>
    <a xlink:href="/register/country/?id=124" data-country="124" xlink:title="Netherlands"><path class="eu europe" id="nl"  /></a>
    <a xlink:href="/register/country/?id=22" data-country="22" xlink:title="Bosnia and Herzegovina"><path class="europe" id="ba"  /></a>
    <a xlink:href="/register/country/?id=157" data-country="157" xlink:title="Slovenia"><path class="eu europe" id="si"  /></a>
    <a xlink:href="/register/country/?id=102" data-country="102" xlink:title="Macedonia"><path class="europe" id="mk"  /></a>
    <a xlink:href="/register/country/?id=43" data-country="43" xlink:title="Croatia"><path class="eu europe" id="hr"  /></a>
    <a xlink:href="/register/country/?id=47" data-country="47" xlink:title="Denmark"><path class="eu europe" id="dk"  /></a>
    <a xlink:href="/register/country/?id=142" data-country="142" xlink:title="Russia"><path id="ru" class="europe"  /></a>
    <a xlink:href="/register/country/?id=117" data-country="117" xlink:title="Montenegro"><path class="europe" id="me"  /></a>
    <a xlink:href="/register/country/?id=66" data-country="66" xlink:title="Greece"><path class="eu europe" id="gr"  /></a>
    <a xlink:href="/register/country/?id=16" data-country="16" xlink:title="Belarus"><path class="europe" id="by"  /></a>
    <a xlink:href="/register/country/?id=" data-country="" xlink:title=""><path class="nonehea" id="xk"  /></a> -->

    <!-- micro states shown as circles - must come last so they are not covered by other countries -->
    <!-- <a xlink:href="/register/country/?id=101" data-country="101" xlink:title="Luxemburg"><path id="lu" class="eu europe circle"  /></a>
    <a xlink:href="/register/country/?id=108" data-country="108" xlink:title="Malta"><path id="mt" class="eu europe circle"  /></a>
    <a xlink:href="/register/country/?id=99" data-country="99" xlink:title="Liechtenstein"><path id="li" class="europe circle"  /></a>
    <a xlink:href="/register/country/?id=188" data-country="188" xlink:title="Vatican City"><path id="va" class="europe circle"  /></a>
    <a xlink:href="/register/country/?id=4" data-country="4" xlink:title="Andorra"><path id="ad" class="europe circle"  /></a> -->
    <!-- (mostly micro) states/territories out of EHEA - barely visible, but not relevant at the moment

    These should be converted to circles if they need to be recognisable. -->
    <path class="eu nonehea" id="im" d="m 2927.5103,4332.3899 c -7.1658,1.4333 -14.3317,1.4333 -21.4974,5.7327 -5.7328,4.2995 -7.166,14.3316 -12.8985,20.0643 -61.6263,55.8935 37.2622,41.5618 34.3959,-25.797 z" />
    <path class="nonehea" id="sm" d="m 4808.4342,6471.5 c 2.8663,-4.2995 2.8663,-10.0322 7.1658,-12.8986 11.4654,-11.4653 8.599,32.9628 -7.1658,12.8986 z" />
    <path class="nonehea" id="mc" d="m 4071.787,6524.5271 c 11.4654,0 21.4976,-10.0322 21.4976,-20.0644 0,-10.0322 -10.0322,-18.6312 -21.4976,-18.6312 -11.4653,0 -21.4974,8.599 -21.4974,18.6312 0,10.0322 10.0321,20.0644 21.4974,20.0644 11.4654,0 -11.4653,0 0,0 z" />

    {{ dump( countries ) }}


</svg>
