<div class="l-article__item">
    <a href="{{ post.link }}" class="article" style="background-image: url('{{ TimberImage(post.thumbnail )}}');">
        <span class="article__date">{{ post.date }}</span>
        {% set categories = [ ] %}
        {% for category in post.categories %}
            {% if category != 'DEQAR' %}
                {% set categories = categories|merge([category]) %}
            {% endif %}
        {% endfor %}
        <span class="article__category">{{ categories|join(' | ') }}</span>
        <h2 class="article__title">{{ post.title }}</h2>
    </a>
</div>
