<div class="qa-search u-margin-s {{ search.preview ? 'qa-search--preview' }} {{ class }}">
    {% if search.preview %}
        <span class="qa-search__preview">Public Preview</span>
    {% endif %}

    {% if title == true %}
        <h1 class="title qa-search__title">{{ search.title }}</h3>
    {% endif %}

    <form class="form qa-search__form" method="get" action="{{ search_url ? search_url : search.default_target }}">

        {% if type == 'advanced' %}
            {% if formdata %}
                {% set openSearchform = 'style="display: block"' %}
            {% endif %}
        {% endif %}

        <div class="qa-search__expand js-qa-search__expand" {{ openSearchform }}>

            <div class="form__columns u-margin-xs">
                <div class="form__fieldset form__fieldset--half">
{#<label for="country" class="form__label">Country</label>#}
                    <select name="country" id="country">
                        <option value="">Select country</option>
                        {% for country in countries %}
                            {% if formdata.country == country.id %}
                                <option value="{{ country.id }}" selected="selected">{{ country.name_english }}</option>
                            {% else %}
                                <option value="{{ country.id }}">{{ country.name_english }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form__fieldset form__fieldset--half">
                {% if formdata.esg_activity %}
                    <input type="hidden" name="agency" value="{{ selected_agency }}" />
{#                  <label for="esg_activity" class="form__label">Activity</label>#}
                    <select name="esg_activity" id="esg_activity">
                        <option value="">{{ selected_agency_acronym }}: all activities</option>
                        {% for agency in agencies %}
                            {% if selected_agency == agency.id %}
                                {% for activity in agency.activities %}
                                    <option value="{{ activity.id }}"{% if formdata.esg_activity == activity.id %} selected="selected"{% endif %}>{{ selected_agency_acronym }}: {{ activity.activity }}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    {#<label for="agency" class="form__label">Agency</label>#}
                    <select name="agency" id="agency">
                        <option value="">Select agency</option>
                        {% for agency in agencies %}
                            <option value="{{ agency.id }}"{% if agency.id == formdata.agency %} selected="selected"{% endif %}>{{ agency.acronym_primary }} - {{ agency.name_primary }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="form__fieldset form__fieldset--search">
            <input type="search" name="query" value="{{ formdata.query|replace({"\\'": "'", "\\\\": "\\"})|escape('html_attr') }}" placeholder="{{ search.description }}">
            <input type="submit" value="{{ search.button }}" class="qa-search__button">
        </div>

        <div class="form__fieldset">
            <button class="button qa-search__advanced js-qa-search__toggle">Advanced search</button>
        </div>

    </form>

</div>
