{% set add_class = "" %}
{% if post.get_field('is_publication') %} {# special mode: publication/Annual Report style #}
    {% set parent = post.ID %}
    {% set navigation = post|visibleChildren %}
    {% set add_class = " sidebar--publication" %}
{% elseif post.parent.get_field('is_publication') %} {# special mode: publication/Annual Report style #}
    {% set parent = post.parent.ID %}
    {% set navigation = post.parent|visibleChildren %}
    {% set add_class = " sidebar--publication" %}
{% elseif post.parent.parent %} {# 3rd level or below #}
    {% if post|visibleChildren %} {# has further children that are not hidden  #}
        {% set navigation = post.parent|visibleChildren %}
        {% set parent = post.parent.ID %}
    {% else %} {# leaf page #}
        {% set navigation = post.parent.parent|visibleChildren %}
        {% set parent = post.parent.parent.ID %}
    {% endif %}
{% elseif post.parent %} {# 2nd level #}
    {% set navigation = post.parent|visibleChildren %}
    {% set parent = post.parent.ID %}
{% else %} {# 1st level #}
    {% set navigation = post|visibleChildren %}
    {% set parent = post.ID %}
{% endif %}

<nav class="sidebar{{ add_class }}">
    <a href="{{ fn('get_the_permalink', parent) }}" class="sidebar__title">
        {{ fn('get_the_title', parent) }}
    </a>

    {% if navigation %}
        <ul class="sidebar__menu">
            {% for item in navigation %}
                    <li class="sidebar__item">
                        {% if (item.id == post.id) and sidebar_title %}{# title set by template #}
                        <a href="#" class="sidebar__link sidebar__link--active">
                            {{ sidebar_title }}
                        </a>
                        {% else %}
                        <a href="{{ fn('get_the_permalink', item) }}" class="sidebar__link {{ item.id == post.id ? 'sidebar__link--active' }}">
                            {{ fn('get_the_title', item) }}
                        </a>
                        {% endif %}
                        {% if item.id == post.id and post.parent.get_field('is_publication') %}
                            {% set sections = post|getSections %}
                            {% if sections|length > 0 %}{# page has sections #}
                                <ul class="sidebar__children">
                                    {% for item in sections %}
                                        <li class="sidebar__item">
                                            <a href="{{ item.link }}" class="sidebar__link sidebar__link--sub {{ item.id == post.id ? 'sidebar__link--active' }}">
                                                {{ item.text }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                        {% if post|isChildOf(item.id) %}
                            {% set children = item|visibleChildren %}
                            {% if children %} {# has children that are not hidden  #}
                                <ul class="sidebar__children">
                                    {% for item in children %}
                                        <li class="sidebar__item">
                                            {% if (item.id == post.id and sidebar_title) %}{# title set by template #}
                                            <a href="#" class="sidebar__link sidebar__link--sub sidebar__link--active">
                                                {{ sidebar_title }}
                                            </a>
                                            {% else %}
                                            <a href="{{ fn('get_the_permalink', item) }}" class="sidebar__link sidebar__link--sub {{ item.id == post.id ? 'sidebar__link--active' }}">
                                                {{ fn('get_the_title', item) }}
                                            </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>
