{% if post.parent.parent %} {# 3rd level or below #}
    {% if post|visibleChildren %} {# has further children that are not hidden  #}
        {% set navigation = post.parent|visibleChildren %}
        {% set parent = post.parent.ID %}
    {% else %} {# leaf page #}
        {% set navigation = post.parent.parent|visibleChildren %}
        {% set parent = post.parent.parent.ID %}
    {% endif %}
{% elseif post.parent %} {# 2nd level #}
    {% set navigation = post.parent|visibleChildren %}
    {% set parent = post.parent.ID %}
{% else %} {# 1st level #}
    {% set navigation = post|visibleChildren %}
    {% set parent = post.ID %}
{% endif %}

<nav class="sidebar">
    <a href="{{ fn('get_the_permalink', parent) }}" class="sidebar__title">
        {{ fn('get_the_title', parent) }}
    </a>

    {% if navigation %}
        <ul class="sidebar__menu">
            {% for item in navigation %}
                    <li class="sidebar__item">
                        {% if (item.id == post.id) and sidebar_title %}{# title set by template #}
                        <a href="#" class="sidebar__link sidebar__link--active">
                            {{ sidebar_title }}
                        </a>
                        {% else %}
                        <a href="{{ fn('get_the_permalink', item) }}" class="sidebar__link {{ item.id == post.id ? 'sidebar__link--active' }}">
                            {{ fn('get_the_title', item) }}
                        </a>
                        {% endif %}

                        {% if post|isChildOf(item.id) %}
                            {% set children = item|visibleChildren %}
                            {% if children %} {# has children that are not hidden  #}
                                <ul class="sidebar__children">
                                    {% for item in children %}
                                        <li class="sidebar__item">
                                            {% if (item.id == post.id and sidebar_title) %}{# title set by template #}
                                            <a href="#" class="sidebar__link sidebar__link--sub sidebar__link--active">
                                                {{ sidebar_title }}
                                            </a>
                                            {% else %}
                                            <a href="{{ fn('get_the_permalink', item) }}" class="sidebar__link sidebar__link--sub {{ item.id == post.id ? 'sidebar__link--active' }}">
                                                {{ fn('get_the_title', item) }}
                                            </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>
