{% if post.parent.parent.children('page') %} {# 3rd level or below #}
    {% set has_visible_children = 0 %}
    {% if post.children('page') %}
        {% for child in post.children('page') %}
            {% if child.get_field('hide_page') != 'true' %}
                {% set has_visible_children = 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if has_visible_children != 0 %} {# has further children that are not hidden  #}
        {% set navigation = post.parent.children('page') %}
        {% set parent = post.parent.ID %}
    {% else %} {# leaf page #}
        {% set navigation = post.parent.parent.children('page') %}
        {% set parent = post.parent.parent.ID %}
    {% endif %}
{% elseif post.parent.children %} {# 2nd level #}
    {% set navigation = post.parent.children('page') %}
    {% set parent = post.parent.ID %}
{% elseif post.children %} {# 1st level #}
    {% set navigation = post.children('page') %}
    {% set parent = post.ID %}
{% else %} {# isolated 1st level page #}
    {% set parent = post.ID %}
{% endif %}

<nav class="sidebar">
    <a href="{{ fn('get_the_permalink', parent) }}" class="sidebar__title">
        {{ fn('get_the_title', parent) }}
    </a>

    {% if navigation %}
        <ul class="sidebar__menu">
            {% for item in navigation %}
                {% if item.get_field('hide_page') != 'true' or (item.id == post.id and sidebar_title) %}
                    <li class="sidebar__item">
                        {% if (item.id == post.id and sidebar_title) %}{# title set by template #}
                        <a href="#" class="sidebar__link sidebar__link--active">
                            {{ sidebar_title }}
                        </a>
                        {% else %}
                        <a href="{{ fn('get_the_permalink', item) }}" class="sidebar__link {{ item.id == post.id ? 'sidebar__link--active' }}">
                            {{ fn('get_the_title', item) }}
                        </a>
                        {% endif %}

                        {% if item.id == post.id and item.children('page') or item.id == post.parent.ID and item.children('page') %}
                            <ul class="sidebar__children">
                                {% for item in item.children('page') %}
                                    {% if item.get_field('hide_page') != 'true' or (item.id == post.id and sidebar_title) %}
                                        <li class="sidebar__item">
                                            {% if (item.id == post.id and sidebar_title) %}{# title set by template #}
                                            <a href="#" class="sidebar__link sidebar__link--sub sidebar__link--active">
                                                {{ sidebar_title }}
                                            </a>
                                            {% else %}
                                            <a href="{{ fn('get_the_permalink', item) }}" class="sidebar__link sidebar__link--sub {{ item.id == post.id ? 'sidebar__link--active' }}">
                                                {{ fn('get_the_title', item) }}
                                            </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</nav>
